<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{{ title|default("SHE CODE AFRICA") }}</title>

	<!-- STYLESHEETS -->
	{# Customise the stylesheet for your site by editing /public/styles/site.sass #}
	<link href="../../styles/site.css" rel="stylesheet">
	<!-- CUSTOM STYLES -->
	<link rel="stylesheet" type="text/css" href="../../styles/variables.css">
	<link rel="stylesheet" type="text/css" href="../../styles/main.css">
	<link rel="stylesheet" type="text/css" href="../../styles/index.css">
	<link rel="stylesheet" type="text/css" href="../../styles/jobs.css">
	<!-- WEBFONT -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">

	<!-- ICON -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{# This file provides the default styling for the KeystoneJS Content Editor #}
	{% if user and user.canAccessKeystone %}
	<link href="../../keystone/styles/content/editor.min.css" rel="stylesheet"> {% endif %}
	{# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries Safely remove this block if you are not targeting IE8 #}
	<!--[if lt IE 9]>
				<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
				<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
			<![endif]-->

	{# Include template-specific stylesheets by extending the css block #} {% block css %}{% endblock %}
	{# Add any other template-specific HEAD tags by extending the head block #} {% block head %}{% endblock %}
</head>

<body id="body">
  {# HEADER #}
    <header>
        <nav class="navbar __shecodenavbar" role="navigation">
            <div class="nav-container">
                <!-- TOGGLE -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="../../images/she-code-africa-logo.svg" class="__shecodelogo"></a>
                </div>
                <!-- TOGGLING LINKS -->
                <div class="collapse navbar-collapse navbar-ex1-collapse __shecodenavcol">
                    <ul class="nav navbar-nav">
                        {% for link in navLinks %}
                        <li class="__shecodelink {{ 'active' if link.key == section else '' }}">
                            <a href="{{ link.href }}">{{ link.label }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
	{% block intro %}{% endblock %}
	
	{% block content %} {% endblock %}

	<script src="../../js/jquery/jquery-3.1.1.min.js"></script>
  <script src="../../js/bootstrap/bootstrap.min.js"></script>
	{# Add scripts that are globally required by your site here. #}
  <script src="../../js/jquery/main.js"></script>

	{# Include template-specific javascript files by extending the js block #} 
	{% block js %}{% endblock %}
</body>
</html>
