{% extends "layouts/errors.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="styles/events.css">
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="holder">
			<div class="card">
				<div class="img404"></div>
				<h1 class="errorhead">ERROR 404</h1>
				<p style="font-size: 15px; margin-bottom: 30px;">We can't seem to find the page you are looking for</p>
				<a href="/" class="error-btn">Back to Home Page</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}