{% extends "layouts/default.html" %}

<section>
    {% block intro %}
    <div class="__shecodeaboutimg">
		<div class="container text-center banner-text">
			<p class="__shecodeafriab">ABOUT US</p>
			<span class="__shecodeafriab1">We are a non-profit organization focused on celebrating and 
				empowering young Girls and Women in Technology across Africa.</span>
			<br><a href="https://bit.ly/scaslacksignup" class="btn __shecodebtn __btn-submit">Join Us</a>
		</div> 
	</div>
	{% endblock %} {% block content %}
    <div class="container">
        <section class="about-section-x">
            <p class="__shecodeval">Our</p>
            <p class="__shecodeval1">VALUES</p><br>

            <div class="__shecodevalab">
                <div class="value-card __shecodevaldiv">
                    <img src="/images/leader.svg" class="">
                    <p>Together, we are better</p>
                </div>
                <div class="value-card __shecodevaldiv1">
                    <img src="images/growth1.svg" class="">
                    <p>Growth, we strive for it to happen</p>
                </div>
                <div class="value-card __shecodevaldiv2">
                    <img src="/images/success.svg" class="">
                    <p>Success, an important ingredient of effort</p>
                </div>
                <div class="value-card __shecodevaldiv3">
                    <img src="/images/reward.svg" class="">
                    <p>Reward, the prize we cherish</p>
                </div>
                <img src="/images/she-code-africa-logo.svg" class="__shecodevalimg" alt="She Code Africa Logo">
            </div>
        </section>

		<section class="about-section-x">
			<p class="__shecodeval">Our</p>
			<p class="__shecodeval1">COMMUNITY</p>
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-3 text-center">
					<div class="__shecodetestimcard">
						<a href="https://twitter.com/SheCodeAfrica">
							<i class="fa fa-twitter fa-3x"></i>
						</a>
						<br>
						<h2 class="social-count"><span>4100</span>+</h2>
						<p class="__shecodetestimp1"><span>Followers</span></p>
						<br>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 text-center">
					<div class="__shecodetestimcard">
						<a href="https://www.instagram.com/shecodeafrica">
							<i class="fa fa-instagram fa-3x"></i>
						</a>
						<br>
						<h2 class="social-count"><span>900</span>+</h2>
						<p class="__shecodetestimp1"><span>Followers</span></p>
						<br>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 text-center">
					<div class="__shecodetestimcard">
						<a href="https://www.facebook.com/SheCodeAfrica/">
							<i class="fa fa-facebook-square fa-3x"></i>
						</a>
						<br>
						<h2 class="social-count"><span>1400</span>+</h2>
						<p class="__shecodetestimp1"><span>Likes</span></p>
						<br>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 text-center">
					<div class="__shecodetestimcard">
						<a href="https://bit.ly/scaslacksignup">
							<i class="fa fa-slack fa-3x"></i>
						</a>
						<br>
						<h2 class="social-count"><span>1400</span>+</h2>
						<p class="__shecodetestimp1"><span>Members</span></p>
						<br>
					</div>
				</div>
			</div>
		</section>

		<section class="about-section-x">
			<p class="__shecodeval">Members</p>
			<p class="__shecodeval1">BENEFITS</p>
			<div class="row member-benefits">
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="__shecodebenefit">
						<img src="/images/leader.svg" class="__shecodebenefitimg">
						<p class="__shecodebene">COMMUNITY SUPPORT</p>
						<p>We provide support through our diverse offline and online communities. You can 
							trust our amazing programs and initiatives to always keep you engaged
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="__shecodebenefit">
						<img src="/images/leader.svg" class="__shecodebenefitimg">
						<p class="__shecodebene">MONITORED GROWTH</p>
						<p>We provide resources and monitor your growth every step of the way through regular 
							check-ins to ensure you are hitting your personal and career goals
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="__shecodebenefit">
						<img src="/images/leader.svg" class="__shecodebenefitimg">
						<p class="__shecodebene">GUIDANCE</p>
						<p> Through the SCA Mentorship program and various mentors available on our
							platform, you are able to get help and guidance whenever you need it.
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="__shecodebenefit">
						<img src="/images/leader.svg" class="__shecodebenefitimg">
						<p class="__shecodebene">PAIR SUPPORT</p>
						<p>Network and meet with people who have walked or are walking in the same path as you 
							are that can relate with your experience and help you on your journey
						</p>
					</div>
				</div>
			</div>
		</section>

        <section class="about-section-x">
            <p class="__shecodeval">The</p>
            <p class="__shecodeval1">TEAM</p>
            <div class="row the-team">
                {% for member in teams %} {% if member.isLeader %}
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="text-center">
                        <img class="__shecodeteamimg" alt="{{member.name}}" src="{{member.image.url}}">
                        <p class="__shecodeteamp">{{member.name}}</p>
                        <p class="__shecodeteamp1">{% for cat in data.membership %} {% if cat.id == member.membership %} {{cat.name}} {% endif %} {% endfor %}</p>
                        <small>Team Lead</small>
                    </div>
                </div>
                {% endif %} {% endfor %}
            </div>
            <br />
            <div class="text-center">
                <button class="btn __shecodebtn2 __btn-cta">
                    <a href="team">View All Team Members</a>
                </button>
            </div>
        </section>

        <section class="about-section-x">
            <p class="__shecodeval">Our</p>
            <p class="__shecodeval1">PARTNERS</p>
            <div class="customer-logos slider">
                <div class="slide"><img src="/images/ellcrys.svg" alt="Ellcrys Logo" /></div>
				<div class="slide"><img src="/images/mest.png" alt="Mest Logo" /></div>
				<div class="slide"><img src="/images/civic-hive.png" alt="Civic Hive Logo" /></div>
				<div class="slide"><img src="/images/start-innovation-hub.png" alt="Start Innovation Hub Logo" /></div>
				<div class="slide"><img src="/images/nghub.svg" alt="NG_HUB Logo" /></div>
				<div class="slide"><img src="/images/ellcrys.svg" alt="Ellcrys Logo" /></div>
				<div class="slide"><img src="/images/mest.png" alt="Mest Logo" /></div>
				<div class="slide"><img src="/images/start-innovation-hub.png" alt="Start Innovation Hub Logo" /></div>
				<div class="slide"><img src="/images/civic-hive.png" alt="Civic Hive Logo" /></div>
				<div class="slide"><img src="/images/nghub.svg" alt="NG_HUB Logo" /></div>	
            </div>
        </section>
    </div>
    {% endblock %}
</section>
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
{% endblock %}