{% extends "layouts/default.html" %}

<section>
    {% block intro %}
    <div class="__shecodeaboutimg">
        <div class="container text-center banner-text">
            <p class="__shecodeafriab">CHAPTER LEAD APPLICATION</p>
            <span class="__shecodeafriab1">We are a non-profit organization focused on celebrating and empowering young
                Girls and Women in Technology (Code Queens) across Africa.</span>
            <a href="https://bit.ly/joinscaslack" class="btn __shecodebtn">Join Us</a>
        </div>
    </div>
    {% endblock %} {% block content %}
    <div class="container">
        <iframe id="embedded" src="https://docs.google.com/forms/d/e/1FAIpQLSduv_lZHaqaBIbmQrN4heqk99uJbZAikiE4DTmOePXM0v8oWQ/viewform" frameborder="0"></iframe>
    </div>
    {% endblock %}
</section>
{% block js %} {% endblock %}