{% extends "layouts/default.html" %} {% block css %}
<link rel="stylesheet" type="text/css" href="styles/chapters.css">{% endblock %} {% block head %}{% endblock %} {% block intro %} {% endblock %} {% block content %}
<div class="container" style=" text-align: center;">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfAIiQz4eaHq3ZnPcN5Byxdw8J5E2dTlUQE2uHIpfark45D7A/viewform?embedded=true" width="800" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>


{% endblock %} {% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
{% endblock %}