{% extends "layouts/default.html" %} {% block css %}
<link rel="stylesheet" type="text/css" href="styles/chapters.css">{% endblock %} {% block head %}{% endblock %} {% block intro %} {% endblock %} {% block content %}
<div class="container">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSduv_lZHaqaBIbmQrN4heqk99uJbZAikiE4DTmOePXM0v8oWQ/viewform?embedded=true" width="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>


{% endblock %} {% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
{% endblock %}