{% extends "layouts/default.html" %} {% block css %}
<link rel="stylesheet" type="text/css" href="styles/chapters.css">{% endblock %} {% block head %}{% endblock %} {% block intro %}
<div id="chapter_banner">
    <div class="banner-text">
        <div class="banner-title">
            <h2>She Code Africa <br> Chapters</h2>
        </div>
        <div class="banner-subtitle">
            <p>
                You might want to consider starting a SheCodeAfrica Chapter in your campus or city. Not an expert in tech yet? Not a problem (CTA)
            </p>
        </div>
        <div class="banner-btn">
            <button class="btn sca-btn pink-btn"><a href="#chapter-tab"> JOIN A CHAPTER</a></button>
            <button class="btn sca-btn trans-btn">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSduv_lZHaqaBIbmQrN4heqk99uJbZAikiE4DTmOePXM0v8oWQ/viewform"
                    target="_blank">LEAD A CHAPTER</a>
            </button>

        </div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container">
    <div id="search">
        <input type="text" placeholder="Search for a City, Campus, Country or Region">
        <img src="../images/search.svg" alt="">
    </div>

    <div>
        <h3 class="__shecode_topic">Explore by Type</h3>
    </div>
    {% if chapters.length %}
    <div id="chapter-tab">
        <ul class="nav nav-tabs" id="myTab">
            {% for cat in category %}
            <li class="nav-item">
                <a class="nav-link filter-button" data-filter="{{cat.id}}">
                    {{cat.name}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="row tab-content">
        {% for member in chapters %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 filter {{member.categories}}">
            <div class="box">
                <a target="_blank" href="{{member.socialMediaLink}}">
                    <h5>{{member.chapterName}}</h5>
                    <p>{{member.location}}</p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>


{% endblock %} {% block js %}
<script>
    $(document).ready(function() {
        $(".filter-button:first").addClass("active")
        var fvalue = $(".filter-button:first").attr('data-filter');

        $(".filter").not('.' + fvalue).hide('3000');
        $('.filter').filter('.' + fvalue).show('3000');


        $(".filter-button").click(function() {
            var value = $(this).attr('data-filter');

            $(".filter").not('.' + value).hide('3000');
            $('.filter').filter('.' + value).show('3000');

            if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }
            $(this).addClass("active");
        });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
{% endblock %}