{% extends "layouts/default.html" %}

<section>
{% block intro %}
    <div class="__shecodeaboutimg">
        <div class="container text-center banner-text">
            <p class="__shecodeafriab">BE PART OF OUR COMMUNITY</p>
            <a href="" class="btn __shecodebtn"><img src="/images/shecode-hair.svg">&nbsp;Join Us</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <p class="welcome_community">Welcome to our community</p>
        <hr class="community_line">
        <br><br>
    </div>
	<div class="container">
        <div class="community_text">
            <p>
                We know you excited and can’t wait to get to meet other tech enthusiasts like yourself, but just
                before
                that we would love to remind you of some of our policies. While traversing the community please do
                take
                care and speak with love. Even if you want to make a correction of a person's viewpoint, please do
                this
                with utmost sympathy and care. So now we'd leave you to go wander, help and get support In from
                this
                amazing community!
            </p>
        </div>
    </div>
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-4 ask_question offset-md-2">
                <a href="#" class="btn ">
                    <img src="/images/shecode-hair.svg" style="height: 30px">&nbsp;See New Answers
                </a>
            </div>
            <div class="col-md-4 ask_question">
                <a href="#" class="btn ">
                    <img src="/images/shecode-hair.svg" style="height: 30px">&nbsp;See New Answers
                </a>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <p class="welcome_community">Top Questions</p>
        <hr class="community_line">
        <br><br>
    </div>

    <div class="container">
        <div class="community_text">
            <p>
                We know you excited and can’t wait to get to meet other tech enthusiasts like yourself,
                but just
                before
                that we would love to remind you of some of our policies. While traversing the community
                please do
                take
                care and speak with love. Even if you want to make a correction of a person's viewpoint,
                please do
                this
                with utmost sympathy and care. So now we'd leave you to go wander, help and get support In
                from
                this
                amazing community!
            </p>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3 ask_question">
                    <a href="#" class="btn ">
                        <img src="/images/shecode-hair.svg" style="height: 30px">&nbsp;See New Answers
                    </a>
                </div>
                <div class="col-md-3 ask_question">
                    <a href="#" class="btn ">
                        <img src="/images/shecode-hair.svg" style="height: 30px">&nbsp;See New Answers
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>

    <div class="container">
        <div class="community_text">
            <p>
                We know you excited and can’t wait to get to meet other tech enthusiasts like yourself,
                but just
                before
                that we would love to remind you of some of our policies. While traversing the community
                please do
                take
                care and speak with love. Even if you want to make a correction of a person's viewpoint,
                please do
                this
                with utmost sympathy and care. So now we'd leave you to go wander, help and get support In
                from
                this
                amazing community!
            </p>
            <div class="row">
                <a href="#" class="btn ask_question">
                    <img src="/images/shecode-hair.svg" style="height: 30px">&nbsp;See New Answers
                </a>
                <a href="#" class="btn ask_question">
                    <img src="/images/shecode-hair.svg" style="height: 30px">&nbsp;See New Answers
                </a>
            </div>
        </div>
    </div>
    <br><br><br>

    <div class="load_more">
        <a href="#" class="btn">Load More Questions<a>
    </div>

{% endblock %}
</section>
