{% extends "layouts/default.html" %}

<section>
    {% block intro %}
      <div class="container text-center">
        <h1><strong>CODE OF CONDUCT</strong></h1>
      </div>
      {% endblock %} {% block content %}
      <div class="container">
        <section class="code-of-conduct">
          <p><strong>She Code Africa (SCA)</strong> is dedicated to providing a harassment-free experience for 
            everyone, regardless of gender, gender identity and expression, sexual orientation, disability, 
            physical appearance, body size, age, race, or religion. We do not tolerate harassment of participants 
            in any form.</p>
          <p>This code of conduct applies to all She Code Africa spaces, including Slack, both online and off. 
            Anyone who violates this code of conduct may be sanctioned or expelled from these spaces at the 
            discretion of the Community Managers.</p>
          <p>Some She Code Africa spaces (such as specific Slack channels) may have additional rules in place, 
            which will be made clearly available to members. Members are responsible for knowing and abiding by 
            these rules. We encourage all those who are members of She Code Africa to help us create safe and 
            positive community experiences.</p>
          <p>Consequences for noncompliance with the Code of Conduct may include a discussion with mediators, 
            mediation with the member you may have harmed, or as an absolute last resort, a ban from the community.
          </p>
          <p><strong>Harassment includes:</strong></p>
          <ul>
            <li>Offensive comments related to gender, gender identity and expression, sexual orientation, disability, 
              mental illness, neuro(a)typicality, physical appearance, body size, age, race, or religion.</li>
            <li>Unwelcome comments regarding a person’s lifestyle choices and practices, including those related to 
              food, health, parenting, drugs, and employment.</li>
            <li>Deliberate misgendering or use of ‘dead’ or rejected names.</li>
            <li>Gratuitous or off-topic sexual images or behaviour  in spaces where they’re not appropriate.</li>
            <li>Physical contact and simulated physical contact (eg, textual descriptions like “hug” or “backrub”) 
              without consent or after a request to stop.</li>
            <li>Threats of violence.</li>
            <li>Incitement of violence towards any individual, including encouraging a person to commit suicide or 
              to engage in self-harm.</li>
            <li>Deliberate intimidation.</li>
            <li>Stalking or following.</li>
            <li>Harassing photography or recording, including logging online activity for harassment purposes.</li>
            <li>Sustained disruption of discussion.</li>
            <li>Unwelcome sexual attention.</li>
            <li>Pattern of inappropriate social contact, such as requesting/assuming inappropriate levels 
              of intimacy with others</li>
            <li>Continued one-on-one communication after requests to cease.</li>
            <li>Deliberate “outing” of any aspect of a person’s identity without their consent except as necessary 
              to protect vulnerable people from intentional abuse.</li>
            <li>Publication of non-harassing private communication.</li>
            <li>Blogging, tweeting, or otherwise communicating with intent to harm 
              someone’s reputation, i.e., “making an example” of a member</li>
          </ul>
          <p>She Code Africa prioritizes marginalized people’s safety over privileged people’s comfort. 
            Our moderators will not act on complaints regarding:</p>
          <ul>
            <li>“Reverse”-isms, including “reverse racism,” “reverse sexism,” and “cisphobia.”</li>
            <li>Reasonable communication of boundaries, such as “leave me alone,” “go away,” or “I’m 
              not discussing this with you.”</li>
            <li>Verbal communication in a tone you don’t find pleasant (try focusing on responding to the 
              content or disengaging instead)</li>
            <li>Criticizing racist, sexist, cissexist, or otherwise oppressive behavior or assumptions</li>
          </ul>
          <p>Appropriate behavior contributes to the health, safety, and longevity of the She Code Africa 
            community and includes:</p>
          <ul>
            <li>Participating authentically and empathetically</li>
            <li>Representing She Code Africa in a positive, professional way</li>
            <li>Examining your biases often</li>
            <li>Using welcoming and inclusive language</li>
            <li>Exercising consideration and respect in your speech and actions</li>
            <li>Refraining from demeaning, discriminatory, or harassing behavior and speech</li>
            <li>Being mindful of your surroundings and of your fellow participants</li>
            <li>Considering what is best for the community</li>
            <li>Alerting community managers if you notice a dangerous situation, someone in distress, or 
              unresolved violations of this Code of Conduct</li>
            <li>Refraining from doing something you wouldn’t do in another professional situation</li>
            <li>Remembering that community event venues may be shared with members of the public; being 
              respectful to all patrons of these locations</li>
            <li>Keeping an open and curious mind without making assumptions about others</li>
            <li>Attempting collaboration before conflict . Gracefully accepting constructive criticism</li>
          </ul>
          <p><strong>Enforcement</strong></p>
          <ul>
            <li>Members and participating guests asked to stop any harassing behavior are 
              expected to comply immediately.</li>
            <li>If a participant violates the Code of Conduct, community managers or chapter leads may take any
              action they deem appropriate to maintaining a welcoming environment for all participants, up to and 
              including expulsion from an event and/or the community and identification of the participant as a 
              violator</li>
            <li>If a community manager is not present at an event, the event organizer should ask violators to 
              leave and then report the situation to community managers for further deliberation</li>
            <li>Community managers and/or event organizers may take action to redress anything designed to, or with 
              the clear impact of, disrupting or making an environment hostile for any participants</li>
            <li>We expect participants to respect the Code of Conduct in all She Code Africa communities and at all
               She Code Africa or She Code Africa-related events</li>
          </ul>
          <p><strong>Reporting</strong></p>
          <p>If you are being harassed by a member of She Code Africa, notice that someone else is being harassed, 
            or have any other concerns. please, notify a She Code Africa Core Team member.</p>
          <p>Code of Conduct violations can be reported by:</p>
          <ul>
            <li>Emailing us at <a href="mailto:shecodeafrica@gmail.com">shecodeafrica@gmail.com</a></li>
            <li>Contacting a Core Team member privately on via email, by text or phone call, or in person</li>
            <li>Communicating with the event organizer (if you’re at an event)</li>
          </ul>
          <br>
          <p><em>Original source and credit: techtonica & The Ada Initiative - Adapted by She Code Africa.</em></p>
        </section>
  
      </div>    
    {% endblock %}
  </section>