{% extends "layouts/default.html" %} {% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="styles/slider.css">
<link rel="stylesheet" type="text/css" href="styles/donatepartner.css"> {% endblock %} {% block intro %}
<section class="__shecodeheader">
    <div class="container">
        <div class="row flex-center">
            <div class="col-sm-7 col-xs-12">
                <div class="__shecodeheader_text">
                    <div class="__shecodeheader_title">
                        <h1>
                            <span style="text-align: left;"> Donation </span>
                            <br>
                            <span style="text-align: center;margin-left: 15%;">& </span>
                            <br>
                            <span style="text-align: left;">Partnership</span>
                        </h1>
                    </div>
                    <div class="__shecodeheader_subtitle">
                        <h4>
                            Our partners and donors go a long way in creating an impact and helping us reach thousands of <span class="highlight">women in technology</span> across Africa!
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-xs-12">
                <div class="__shecodeheader_image"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block content %}
<section class="__shecodeheader __sponsors-partners">
    <div class="container section-whitespace-top">
        <div class="row flex-center">
            <div class="col-sm-5 col-xs-12">
                <div class="__sponsors-partners_title">
                    <p>Current Partners & Sponsor Organisations</p>
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-1 col-xs-12">
                <div class="customer-logos slider">
                    <div class="slide"><img src="/images/chimoney.png" alt="Chimoney" /></div>
                    <div class="slide"><img src="/images/hirefreehands.svg" alt="Hirefreehands" /></div>
                    <div class="slide"><img src="/images/deimos.png" alt="Deimos Cloud Logo" /></div>
                    <div class="slide"><img src="/images/jenkins.png" alt="Jenkins" /></div>
                    <div class="slide"><img src="/images/cdf-stacked.png" alt="Cd.foundation" /></div>
                    <div class="slide"><img src="/images/cloudbees.png" alt="CloudBees" /></div>
                    <div class="slide"><img src="/images/sarah-drasner.png" alt="liquibase" /></div>
                    <div class="slide"><img src="/images/DeployHub.png" alt="Deployhub" /></div>
                    <div class="slide"><img src="/images/Layer-5.png" alt="layer5" /></div>
                    <div class="slide"><img src="/images/company.png" alt="@company" /></div>
                    <div class="slide"><img src="/images/osca.png" alt="OSCA Logo" /></div>
                    <div class="slide"><img src="/images/treford.png" alt="Treford Group" /></div>
                    <div class="slide"><img src="/images/liquibase_logo.png" alt="liquibase" /></div>
                    <!-- <div class="slide"><img src="" alt="ProDevs" /></div> -->
                    <div class="slide"><img src="/images/shecluded-logo.png" alt="SheCluded" /></div>
                    <div class="slide"><img src="/images/lag.edu.png" alt="Lagos state, Min.Edu" /></div>
                    <div class="slide"><img src="/images/AboCoders.png" alt="Aspilos Foundation - AboCoders" /></div>
                    <div class="slide"><img src="/images/eWorker.svg" alt="eWorker" /></div>
                    <div class="slide"><img src="/images/Coil.png" alt="Coil Logo" /></div>

                    <div class="slide"><img src="/images/DeployHub.png" alt="Deployhub" /></div>
                    <div class="slide"><img src="/images/Layer-5.png" alt="layer5" /></div>
                    <div class="slide"><img src="/images/company.png" alt="@company" /></div>
                    <div class="slide"><img src="/images/liquibase_logo.png" alt="liquibase" /></div>
                    <div class="slide"><img src="/images/sarah-drasner.png" alt="Sarah Drasner" /></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="__partner-donate flex-center section-whitespace-top">
    <div class="__partner-donate_partner-cta">
        <h4 class="title">
            PARTNER WITH US
        </h4>
        <div class="desc">
            Work hand-in-hand with us to achieve our goal of reaching more women in technology across Africa!
        </div>
        <div class="cta">
            <button class="btn sca-btn pink-btn" onclick="window.open('mailto:partnerships@shecodeafrica.org?subject=Partnership with She Code Africa');">
                GET STARTED
            </button>
        </div>
    </div>

    <div class="__partner-donate_donate-cta">
        <h4 class="title">
            DONATE / SPONSOR OUR INITIATIVES
        </h4>
        <div class="desc">
            <p>
                Help sponsor our events and initiatives to empower more African women in technology via a donation or more.
            </p>
            <p>
                Being a sponsor gives more awareness to you or your organization's commitment to advocating for more women in technology while helping secure and cover costs for our numerous initiatives, provide learning resources and tools to facilitate our events and
                programs across our several chapters.
            </p>
        </div>
        <div class="cta">
            <a class="btn sca-btn white-btn" data-toggle="modal" data-target="#donate-modal1" target="_blank">
                AS AN INDIVIDUAL
            </a>
            <a class="btn sca-btn pink-btn" data-toggle="modal" data-target="#donate-modal2" target="_blank">
                AS AN ORGANISATION
            </a>
        </div>
        <!-- Modal -->
        <div id="donate-modal1" class="modal fade donate-m" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">

                <div class="modal-content ">
                    <div class="modal-header">
                        <h3>Donation Options</h3>
                        <p>Kindly use any of the payment options to make your donation.</p>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="box">
                                    <a href="https://bit.ly/sca-individualsponsor">
                                        <h5>Card Donation </h5>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box filter-button" data-filter="wire">

                                    <h5>Wire Transfer</h5>

                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="tab-content">
                            <div class="filter wire">
                                <h5><b>DOM ACCOUNT WIRE TRANSFER (USD) </b><br><span> (for USD TXNs)</span></h5>
                                <div class="acct-details">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mini-title">Bank Name:</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="mini-text">UNITED BANK FOR AFRICA PLC, NIGERIA</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mini-title">Bank Account Name:</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="mini-text">SHE-CODE AFRICA WOMEN TECH INITIATIVE</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mini-title">Account Number:</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="mini-text">3003292380</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mini-title">International Routing (SWIFT-BIC) Code:</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="mini-text">UNAFNGLA</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br><br>
                            <div class="filter wire">
                                <h5><b>NAIRA ACCOUNT WIRE TRANSFER </b><br><span>(for other naira and or other
                                        currencies
                                        TXN)</span>
                                </h5>
                                <div class="acct-details">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mini-title">Bank Name:</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="mini-text">UNITED BANK FOR AFRICA PLC, NIGERIA</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mini-title">Bank Account Name:</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="mini-text">SHE-CODE AFRICA WOMEN TECH INITIATIVE</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mini-title">Account Number:</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="mini-text">1023945387</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mini-title">International Routing (SWIFT-BIC) Code:</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="mini-text">UNAFNGLA</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End of Modal body -->
                </div>

                <!-- End of Modal content -->
            </div>
            <!-- End of Modal dialog -->
        </div>
        <div id="donate-modal2" class="modal fade donate-m" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">

                <div class="modal-content ">
                    <div class="modal-header">
                        <h3>Donation Options</h3>
                        <p>Kindly use any of the payment options to make your donation.</p>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="box">
                                    <a href="https://bit.ly/sca-sponsor-as-org">
                                        <h5>Card Donation </h5>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box filter-button" data-filter="wire">

                                    <h5>Wire Transfer</h5>

                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="tab-content">
                            <div class="filter wire">
                                <h5><b>DOM ACCOUNT WIRE TRANSFER (USD) </b><br><span> (for USD TXNs)</span></h5>
                                <div class="acct-details">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mini-title">Bank Name:</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="mini-text">UNITED BANK FOR AFRICA PLC, NIGERIA</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mini-title">Bank Account Name:</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="mini-text">SHE-CODE AFRICA WOMEN TECH INITIATIVE</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mini-title">Account Number:</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="mini-text">3003292380</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mini-title">International Routing (SWIFT-BIC) Code:</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="mini-text">UNAFNGLA</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br><br>
                            <div class="filter wire">
                                <h5><b>NAIRA ACCOUNT WIRE TRANSFER </b><br><span>(for other naira and or other
                                        currencies
                                        TXN)</span>
                                </h5>
                                <div class="acct-details">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mini-title">Bank Name:</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="mini-text">UNITED BANK FOR AFRICA PLC, NIGERIA</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mini-title">Bank Account Name:</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="mini-text">SHE-CODE AFRICA WOMEN TECH INITIATIVE</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mini-title">Account Number:</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="mini-text">1023945387</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mini-title">International Routing (SWIFT-BIC) Code:</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p class="mini-text">UNAFNGLA</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End of Modal body -->
                </div>

                <!-- End of Modal content -->
            </div>
            <!-- End of Modal dialog -->
        </div>
        <!-- End of Modal -->
    </div>

</section>
{% endblock %} {% block js %}
<script>
    $(document).ready(function() {
        $('.filter').hide();


        $(".filter-button").click(function() {
            var value = $(this).attr('data-filter');

            $('.filter').filter('.' + value).show('3000');

            if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }
            $(this).addClass("active");
        });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>
{% endblock %}