{% extends "layouts/default.html" %}
{% block content %}
	<div class="container">
		<div class="row">
                <p>
                    <a href="/events">&larr; back to events</a>
                </p>
                <hr>
                {% if not data.event %}
					<h2 col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1>Event not found</h2>
                {% else %}
                <div>
                    {% if data.event.image.exists %}
                        <figure class="event-header" style="background-image: url({{data.event.image.url}});">
                        </figure>
                    {% endif %}
                </div>
                <article>
                    <div class="row">
                        <div class="col-md-9 col-sm-6">
                            <h2 class="event_title">{{ data.event.title }}</h2>
                        <p class="event-content">
                            {{ data.event.description.html|safe }}
                        </p>
                        </div>
                        <div class="col-md-3 col-sm-6 pull-right event-content-box">
                            <p class=""> Date: {{ data.event._.eventDate.format("MMM D, YYYY")}}</p>
                            <p class=""> Location: {{ data.event.location }}</p>
                            {% if (data.event.eventDate > data.today) %}
                            <p>
								<a class="btn  __shecodebtn" href="{{ data.event.registrationLink }}" target="_blank">Register</a> 
							</p>
                            {% else %}
                            <p><br></p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        {% if  data.event.eventImages|length %}
                        <h5 class="event_title" style="margin-left: 1%;margin-top: 5%;">Event Gallery</h5>
                        {% for image in data.event.eventImages %}
                        <div class="col-xs-6 col-sm-4 col-md-3 event-image">
                            <img src="{{image.limit(300,300)}}" class="">
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
					{% endif %}
				</article>
		</div>
	</div>
{% endblock %}
