{% extends "layouts/default.html" %}

<section>
    {% block intro %}
    <div class="container text-center">
        <h1 class="text-primary-color font-weight-bolder">FREQUENTLY ASKED QUESTIONS</h1>
        <small>We are a non-profit organization focused on celebrating and empowering young girls and women in
            technology
            across Africa.
        </small>
    </div>
    {% endblock %} {% block content %}
    <div class="container">
        <div class="donation-faq">
            <h3 class="text-primary-color font-weight-bolder">Community FAQs</h3>
            <div>
                <div class="row">
                    <div class="panel-group" id="accordion-community" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingOneCommunity">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-community" href="#collapseOneCommunity" aria-expanded="true" aria-controls="collapseOneCommunity">
                                        What is She Code Africa?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseOneCommunity" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOneCommunity">
                                <div class="panel-body">She Code Africa is a community that is focused on celebrating and technically empowering young girls and women in technology across Africa. Our community consists of over 10000 members with active members across Nigeria,
                                    Ghana, Kenya, Zimbabwe, Uganda, South Africa, Cameroon, Cote D'Ivoire, Rwanda, Liberia and counting
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingTwoCommunity">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-community" href="#collapseTwoCommunity" aria-expanded="false" aria-controls="collapseTwoCommunity">
                                        Is She Code Africa a not-for-profit organisation?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseTwoCommunity" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwoCommunity">
                                <div class="panel-body">Yes, She Code Africa is a not-for-profit organisation. We do not earn profits for ourselves. All of the money earned by or donated to the community is used in pursuing the organization's objectives and keeping it running.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingThreeCommunity">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-community" href="#collapseThreeCommunity" aria-expanded="false" aria-controls="collapseThreeCommunity">
                                        What is the goal of She Code Africa?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseThreeCommunity" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThreeCommunity">
                                <div class="panel-body">Our Goal is to have an Africa where women are equally represented across all career roles in Technology. </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingFourCommunity">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-community" href="#collapseFourCommunity" aria-expanded="false" aria-controls="collapseFourCommunity">
                                        What is She Code Africa Mission?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFourCommunity" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourCommunity">
                                <div class="panel-body">Our mission is to build a community that embodies Technical growth, networking, mentoring and visibility among all levels and career roles in Technology.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingFiveCommunity">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-community" href="#collapseFiveCommunity" aria-expanded="false" aria-controls="collapseFiveCommunity">
                                        Does She Code Africa have a city chapter or campus chapter near me?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFiveCommunity" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFiveCommunity">
                                <div class="panel-body">She Code Africa currently has several chapters across several African countries, visit here to find a chapter in your locality.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingSixCommunity">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-community" href="#collapseSixCommunity" aria-expanded="false" aria-controls="collapseSixCommunity">
                                        Where can I find out more about your organization?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSixCommunity" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixCommunity">
                                <div class="panel-body">Check out our <a href="/about" class="text-primary-color">About
                                        Us </a>page.

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingSevenCommunity">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-community" href="#collapseSevenCommunity" aria-expanded="false" aria-controls="collapseSevenCommunity">
                                        Is SheCodeAfrica present on all social media platforms?

                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSevenCommunity" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSevenCommunity">
                                <div class="panel-body">
                                    Yes we are. You can find us on
                                    <a href="https://www.instagram.com/shecodeafrica" target="_blank" class="text-primary-color">Instagram,</a>
                                    <a href="https://twitter.com/SheCodeAfrica" target="_blank" class="text-primary-color">Twitter,</a>
                                    <a href="https://www.linkedin.com/company/she-code-africa" target="_blank" class="text-primary-color">LinkedIn,</a>
                                    <a href="https://facebook.com/SheCodeAfrica" target="_blank" class="text-primary-color">Facebook,</a>
                                    <a href="https://medium.com/shecodeafrica" target="_blank" class="text-primary-color">Medium</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="partnership-sponsor-faq">
            <h3 class="text-primary-color font-weight-bolder">Partnership / Sponsorship FAQs</h3>
            <div>
                <div class="row">
                    <div class="panel-group" id="accordion-partnership" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingOnePartnership">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-partnership" href="#collapseOnePartnership" aria-expanded="true" aria-controls="collapseOnePartnership">
                                        I love what your organization does. How can I partner with SCA?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseOnePartnership" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOnePartnership">
                                <div class="panel-body">Visit our <a href="/donate-partner" class="text-primary-color">partnership page
                                    </a> to find out more about this</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingTwoPartnership">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-partnership" href="#collapseTwoPartnership" aria-expanded="false" aria-controls="collapseTwoPartnership">
                                        Why should I partner with She Code Africa?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseTwoPartnership" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwoPartnership">
                                <div class="panel-body">Your organization would have the opportunity to reach more African women in tech through our large pool of 10,000+ and growing community members spread across 15+ African countries by any of the following: • Reach more
                                    African users virtually through our blog, email newsletter and social media channels.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingThreePartnership">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-partnership" href="#collapseThreePartnership" aria-expanded="false" aria-controls="collapseThreePartnership">
                                        How do I contact She Code Africa on sponsoring/partnering?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseThreePartnership" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThreePartnership">
                                <div class="panel-body">You can reach us via <a href="mailto:partnerships@shecodeafrica.org" class="text-primary-color">info@shecodeafrica.org </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="membership-faq">
            <h3 class="text-primary-color font-weight-bolder">Membership FAQs</h3>
            <div>
                <div class="row">
                    <div class="panel-group" id="accordion-membership" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingOneMembership">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-membership" href="#collapseOneMembership" aria-expanded="true" aria-controls="collapseOneMembership">
                                        Who is an SCA member?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseOneMembership" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOneMembership">
                                <div class="panel-body">Members of She Code Africa are part of a global community of over 10,000+ young girls and women professionals in tech dedicated to supporting one another in their career goals.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingTwoMembership">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-membership" href="#collapseTwoMembership" aria-expanded="false" aria-controls="collapseTwoMembership">
                                        Who are our members?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseTwoMembership" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwoMembership">
                                <div class="panel-body">
                                    <ul>
                                        <li>Developers</li>
                                        <li>Designers</li>
                                        <li>Data Scientists</li>
                                        <li>Founders</li>
                                        <li>Product Managers/Program Managers</li>
                                        <li>Technical Writers and several Others.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingThreeMembership">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-membership" href="#collapseThreeMembership" aria-expanded="false" aria-controls="collapseThreeMembership">
                                        Why become a member of She Code Africa?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseThreeMembership" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThreeMembership">
                                <div class="panel-body">
                                    Members of She Code Africa get access to all of our initiatives and programs that we offer to help achieve their respective career goals in each industry.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingFourMembership">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-membership" href="#collapseFourMembership" aria-expanded="false" aria-controls="collapseFourMembership">
                                        How do I become a member of She Code Africa?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseFourMembership" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourMembership">
                                <div class="panel-body">
                                    To be a member of She Code Africa, simply sign up to join our platform <a href="https://bit.ly/joinshecodeafrica" class="text-primary-color">here </a>. You can also become a member by attending a local SCA chapter event
                                    close to you.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingFiveMembership">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-membership" href="#collapseFiveMembership" aria-expanded="false" aria-controls="collapseFiveMembership">
                                        What are the benefits of membership of She Code Africa?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseFiveMembership" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFiveMembership">
                                <div class="panel-body">
                                    <ul>
                                        <li>Full access to coding & tech resources -Tutorials, articles, and videos.
                                        </li>
                                        <li>Access to job opportunities and promotions to global conferences and tech events.
                                        </li>
                                        <li>The opportunity to network and connect with like minds in the same career field.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingSixMembership">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-membership" href="#collapseSixMembership" aria-expanded="false" aria-controls="collapseSixMembership">
                                        How can I get involved in She Code Africa?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseSixMembership" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixMembership">
                                <div class="panel-body">
                                    You can join any She Code Africa city chapter or campus chapter nearest you. Each local community has regular events for women-in-tech to further enhance their technical skills and leadership skills. You can also follow us on
                                    <a href="https://www.instagram.com/shecodeafrica" target="_blank" class="text-primary-color">Instagram,</a>
                                    <a href="https://twitter.com/SheCodeAfrica" target="_blank" class="text-primary-color">Twitter,</a>
                                    <a href="https://facebook.com/SheCodeAfrica" target="_blank" class="text-primary-color">Facebook</a>.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="program-event-faq">
            <h3 class="text-primary-color font-weight-bolder">Programs and Events FAQs</h3>
            <div>
                <div class="row">
                    <div class="panel-group" id="accordion-events" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingOneEvents">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-events" href="#collapseOneEvents" aria-expanded="true" aria-controls="collapseOneEvents">
                                        Can I attend an She Code Africa conference or event for free?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseOneEvents" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOneEvents">
                                <div class="panel-body">Visit our events page to find out more about this Yes, our offline and online events are free. Check our past and present <a href="/events" class="text-primary-color">events page
                                    </a>.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingTwoEvents">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-events" href="#collapseTwoEvents" aria-expanded="false" aria-controls="collapseTwoEvents">
                                        How can I volunteer to be a mentor on your Mentorship Program?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseTwoEvents" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwoEvents">
                                <div class="panel-body">You can sign up to be a Mentor /mentee when applications for the next cohort roll out. Visit <a href="/events" class="text-primary-color">here</a> to learn more about this program and when applications for a new cohort
                                    kicks off.

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="jobs-faq">
            <h3 class="text-primary-color font-weight-bolder">Jobs FAQs</h3>
            <div>
                <div class="row">
                    <div class="panel-group" id="accordion-jobs" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingOneJobs">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-jobs" href="#collapseOneJobs" aria-expanded="true" aria-controls="collapseOneJobs">
                                        Can I post a job to your community?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseOneJobs" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOneJobs">
                                <div class="panel-body">
                                    Yes you can, kindly visit our <a href="/jobs" class="text-primary-color">jobs page
                                    </a> to register as an organization and post job opportunities.

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingTwoJobs">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-jobs" href="#collapseTwoJobs" aria-expanded="false" aria-controls="collapseTwoJobs">
                                        How can I apply for a job on the Jobs page?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseTwoJobs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwoJobs">
                                <div class="panel-body">Click on view more of the particular job you are interested in and you will be redirected to the job’s main page.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading faq-list" role="tab" id="headingThreeJobs">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion-jobs" href="#collapseThreeJobs" aria-expanded="false" aria-controls="collapseThreeJobs">
                                        How can I know if a job is still available?
                                    </a>
                                </h4>

                            </div>
                            <div id="collapseThreeJobs" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThreeJobs">
                                <div class="panel-body">On the job’s main page you will see active which shows that particular role is still available. </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endblock %}
</section>