{% extends "layouts/default.html" %}

<section>
  {% block intro %}
    <div class="container text-center">
        <h1><strong>FREQUENTLY ASKED QUESTIONS</strong></h1>
    </div>
	{% endblock %} {% block content %}
    <div class="container">
        <section class="faq">
            <p><strong>What is SCA?</strong></p>
            <p>SCA simply means SheCodeAfrica</p>
            <p><strong>What is She Code Africa?</strong></p>
            <p>She Code Africa is a community that is focused on celebrating 
                and technically empowering young girls and women in technology across Africa.</p>
            <p>Our community consists of over 1400 members around the continent 
                and across the globe, and 12 countries presence.</p>
            <p><strong>What is the goal of She Code Africa?</strong></p>
            <p>Our goal is to have an Africa where women are equally represented across all career roles in Technology.</p>
            <p>Our mission is to build a community that embodies technical growth, networking, mentoring and 
                visibility among all levels and career roles in Technology.</p>
            <p><strong>Who are our members comprised of?</strong></p>
            <ul>
                <li>Developers</li>
                <li>Designers</li>
                <li>Data Scientists</li>
                <li>Founders</li>
                <li>Product</li>
                <li>Others</li>
            </ul>
            <p><strong>Who is a member?</strong></p>
            <p>Members of She Code Africa are part of a global community of over 1400
                tech professionals dedicated to supporting one another in their career goals.</p>
            <p><strong>Why become a member of She Code Africa?</strong></p>
            <p>Members of She Code Africa get access to all of our initiatives and programs that we offer to help 
                achieve their respective career goals in each industry. Some of the benefits include:</p>
            <ul>
                <li>Full access to coding & tech resources -Tutorials, articles, and videos.</li>
                <li>Access to job opportunities and promotions to global conferences and tech events.</li>
                <li>The opportunity to network and connect with like minds in the same career field.</li>
            </ul>
            <p><strong>How do I become a member?</strong></p>
            <p>To be a member of She Code Africa, simply sign up to join our platform <a href="https://bit.ly/scaslacksignup">here</a>. 
                You can also become a member by attending a local SCA chapter event close to you .</p>
            <p><strong>How can I get involved in She Code Africa?</strong></p>
            <p>You can join any  She Code Africa city chapter or campus chapter nearest you. Each local community 
                has regular events for women-in-tech to further enhance their technical skills and leadership 
                skills. You can also follow us on <a href="https://facebook.com/SheCodeAfrica">Facebook</a>, 
                <a href="https://twitter.com/SheCodeAfrica">Twitter</a>, 
                <a href="https://www.instagram.com/shecodeafrica">Instagram</a></p>
            <p><strong>Can I post a job to your community?</strong></p>
            <p>Yes, for the meantime,  you can post directly via our slack community up until our job boards 
                feature is fully ready on our platform.</p>
            <p><strong>Where can I find out more about your organization?</strong></p>
            <p>Check out our <a href="/about">About Us</a> page.</p>
            <p><strong>Is SheCodeAfrica present on all social media platforms?</strong></p>
            <p>We are on <a href="https://www.instagram.com/shecodeafrica">Instagram</a>, 
                <a href="https://twitter.com/SheCodeAfrica">Twitter</a>, 
                <a href="https://www.linkedin.com/company/she-code-africa">LinkedIn</a>, 
                <a href="https://facebook.com/SheCodeAfrica">Facebook</a>, 
                <a href="https://medium.com/shecodeafrica">Medium</a>,
            </p>
            <p><strong>How can I volunteer to be a mentor on your SCAMentoringProgram?</strong></p>
            <p>You can sign up to be Mentor /mentee when applications for the next cohort roll out. Follow our 
                various platforms to know more about when applications kickstart</p>
            <p><strong> I love what your organization does. How can I partner with SCA? </strong></p>
            <p>You can send us mail on our official email address: 
                <a href="mailto:shecodeafrica@gmail.com">shecodeafrica@gmail.com</a></p>
        </section>

    </div>    
  {% endblock %}
</section>