{% extends "layouts/jobpost.html" %} {% block content %}
{% if resetTokenSaved %}
<div id="toast" class="toast-modal" style="display: block">
    <p>Request to reset your password was successful.</p>
    <p>Please check your email on next steps</p>
    <span class="close" onclick="closeModal();">&#215;</span>
</div>
{% endif %}
<div class="container __register">
    <section class="jobs __register_welcome">
        <div class="flex-center">
            <div class="__register_welcome_text">
                <a href="/" class="logo">
                    <img src="../../images/she-code-africa-logo.svg" class="__shecodelogo">
                </a>
                <div class="welcome_text">
                    <h2 class="text-center">Reset Password</h2>
                    <p class="text-center">Enter your registered email to receive password reset link</p>
                </div>
            </div>
            <div>
                <a title="go back" href="/jobs" class="close">&#215;</a>
            </div>
        </div>
    </section>

    <section class="__register_form">
        <form class="flex-center" method="POST">
            <input type="hidden" name="action" value="">
            {% if validationErrors.email %}
              <div>
                  <label class="text text-danger">
                    {{validationErrors.email}}
                  </label> 
              </div>             
            {%endif%}  
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email *" value="{{formData.email}}" required>
            </div>

            <button type="submit" class="btn sca-btn light-pink-btn">
                Submit
            </button>
        </form>
    </section>
</div>
{% endblock %}

{% block js %}
    <script>
        function closeModal() {
            document.getElementById("toast").style.display = "none";
        }
    </script>
{% endblock %}
