{% extends "layouts/default.html" %} {% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" /> {% endblock %} {% block intro %}
<section class="__shecodeheader">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="__shecodeheader_text">
                    <div class="__shecodeheader_title">
                        <h1>She Code Africa</h1>
                    </div>
                    <div class="__shecodeheader_subtitle">
                        <h4>
                            ...celebrating and empowering <span class="highlight">Women in Tech</span> across Africa
                        </h4>
                    </div>
                    <a href="https://bit.ly/scaslacksignup" class="btn shecode_button">JOIN US</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="__homepage_image"></div>
            </div>
        </div>
    </div>

</section>
{% endblock %} {% block content %} {% if enquirySubmitted %}
<div id="toast" class="toast-modal" style="display: block">
    <p>Thanks for getting in touch, <br> our Team will be following up soon via mail
    </p>
    <span class="close" onclick="closeModal();">&#215;</span>
</div>
</div>

{% endif %}

<div>
    <section>
        <div class="about_section">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="__shecode_title">About Us</h4>
                </div>
                <div class="col-sm-9">
                    <p class="sub-text text-center">We are a non-profit organisation focused on celebrating and empowering young girls and women in tech across Africa.
                    </p>
                    <div class="about_values">
                        <div id="vision">
                            <img class="icon" src="/images/vision.svg" alt="">
                            <h4>Vision</h4>
                            <p>An Africa where women are equally represented across all career roles in Technology.
                            </p>
                        </div>
                        <div id="mission">
                            <img class="icon" src="/images/mission.svg" alt="">
                            <h4>Mission</h4>
                            <p>To build a community that embodies technical growth, networking, mentorship and visibility amongst all level career roles in Technology.
                            </p>
                        </div>
                        <div id="core">
                            <img class="icon" src="/images/value.svg" alt="">
                            <h4>Core Values</h4>
                            <p>Team work, Community, Technical growth, Leadership, Visibility.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="about_section counter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="__shecode_title">Our Reach <br> So Far</h4>
                </div>
                <div class="col-sm-9 ">
                    <div class="counter_items  slider">
                        <div class="slide">
                            <h4>6500+</h4>
                            <p>Community Members</p>
                        </div>
                        <div class="slide">
                            <h4>15+</h4>
                            <p>African Countries With Members</p>
                        </div>
                        <div class="slide">
                            <h4>32+</h4>
                            <p> Chapter Locations</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row event_topic">
            <div class="col-sm-2 col-md-2 col-lg-2">

            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <h4 class="__shecode_topic">Identify With Us</h4>
                <p class="__shecode_subtopic">If you love a welcoming community of women in tech like we do, we're more than excited to take you in.
                </p>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">

            </div>
        </div>
        <section class="__shecode_block">
            <div class="row ">
                <div class="col-md-6 col-lg-6 col-sm-6 home_side_identify">
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6  float-right">
                    <h4 class="__shecode_title">Growing Slack Community</h4>
                    <p class="__shecode_subtitle">Join over 6500 Women in Tech across several African countries on our Slack community to network, stay updated, get help and grow in your career.</p>

                    <a href="https://bit.ly/scaslacksignup" class="btn shecode_button">Join us </a>
                </div>
            </div>

        </section>
        <section class="__shecode_block">
            <div class="row ">
                <div class="col-md-6 col-lg-6 col-sm-6 home_side_event hidden-sm hidden-md hidden-lg">
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6  ">
                    <h4 class="__shecode_title">Attend an Event</h4>
                    <p class="__shecode_subtitle">Participate in any of our online or offline events and initiatives inluding bootcamps, Fireside chats, webinars, Mentorship programs and several more!</p>

                    <a href="/events" class="btn shecode_button">VIEW UPCOMING EVENTS</a>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 home_side_event float-right hidden-xs">
                </div>
            </div>

        </section>
        <section class="__shecode_block">
            <div class="row ">
                <div class="col-md-6 col-lg-6 col-sm-6 home_side_partner ">
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 float-right">
                    <h4 class="__shecode_title">Be a Partner or Sponsor</h4>
                    <p class="__shecode_subtitle">Be a sponsor for our next event via a donation or Partner with our organisation to reach more women in tech across Africa.
                    </p>
                    <a href="mailto:partnerships@shecodeafrica.org" class="btn shecode_button">Be a partner</a>
                    <a href="/donate-partner" class="btn shecode_button2">Be a donor</a>
                </div>

            </div>
        </section>
        <section class="__shecode_block">
            <div class="row ">

                <div class="col-md-6 col-lg-6 col-sm-6 ">
                    <h4 class="__shecode_title">Follow Us on Social Media</h4>
                    <p class="__shecode_subtitle">Stay updated with us and be the first to know about all our activities and events, by following our social media pages </p>

                    <button id="learn-more" class="btn shecode_button">LEARN MORE</button>
                    <p class="__socialmedia_dropdown ">
                        <a href="https://www.instagram.com/shecodeafrica/" target="_blank"><img src="../images/instagram.png" alt=""></a>
                        <a href="https://twitter.com/SheCodeAfrica" target="_blank"><img src="../images/twitter.png" alt=""></a>
                        <a href="https://www.facebook.com/SheCodeAfrica/" target="_blank"><img src="../images/facebook.png" alt=""></a>
                        <a href="https://www.medium.com/shecodeafrica" target="_blank"><img src="../images/medium.png" alt=""></a>
                        <a href="https://www.youtube.com/channel/UCNZzVEyJege5-d_ekKw6dFA" target="_blank"><img src="../images/youtube.png" alt=""></a>
                        <a href="https://ng.linkedin.com/company/she-code-africa" target="_blank"><img src="../images/linkedin.png" alt=""></a>
                    </p>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 home_side_follow float-right ">
                </div>
            </div>
        </section>


    </div>
    <div class="container-fluid">
        {% include "./testimonials.html" %}
        <section>
            <div class="contact_section">


                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="__shecode_title">Contact <br> Us</h4>
                    </div>
                    <div class="col-sm-9">
                        <div class="__shecode_contactform">
                            {% if formerror %}
                            <div class="alert alert-danger bg-danger text-white flex-center">
                                {{validationErrors}}
                            </div>
                            {% endif %}
                            <form method="post">
                                <input type="hidden" name="action" value="">
                                <div class="form-group">
                                    <input type="text" required name="name.full" value="{{ formData[" name.full "] }}" class="form-control" placeholder="Full Name">
                                </div>
                                <div class="form-group">
                                    {% set class = ( "has-error" if validationErrors.email else "" ) %}
                                    <input type="email" name="email" required value="{{ formData.email }}" class="form-control" placeholder="Email">
                                </div>
                                <br> {% set class = ( "has-error" if validationErrors.message else "" ) %}
                                <div class="form-group">
                                    <textarea required name="message" value="{{ formData.message }}" class="form-control" rows="8" placeholder="What would you like to ask us?"></textarea>
                                </div>
                                <a href=""></a>
                                <button type="submit" class="btn shecode_button " style="width: 100%;">Send
                                    Message</button>
                                <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        {% endblock %} {% block js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>
        <script src="https://www.google.com/recaptcha/api.js?render=6LfwOzEaAAAAAGd32YjymqYT504nv9d4fAgI1uto"></script>
        <script>
            grecaptcha.ready(function() {
                // do request for recaptcha token
                // response is promise with passed token
                grecaptcha.execute('6LfwOzEaAAAAAGd32YjymqYT504nv9d4fAgI1uto')
                    .then(function(token) {
                        // add token value to form
                        myToken = token;
                        document.getElementById("g-recaptcha-response").value = myToken;
                    });
            });
        </script>

        <script>
            function closeModal() {
                document.getElementById("toast").style.display = "none";

            }
        </script>
        {% endblock %}