{% extends "layouts/default.html" %} {% block content %}
<section>
    <div class="container">
        <div class="row sca-tagline-row">
            <div class="col-lg-7 col-md-7 col-sm-7 sca-tagline">
                <p class="__shecodeafri">She Code Africa</p>
                <p class="__shecodeafri1">...celebrating and empowering Code Queens across Africa.</p>
                <a href="https://bit.ly/joinscaslack" class="btn __shecodebtn">Join Us!</a>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 showcase-img">
                <img src="/images/sca-landing-img.jpg" class="__shecodetopimg" alt="Illustration of woman on desktop">
            </div>
        </div>

        <div class="__shecodecard">
            <div class="row values">
                <div class="col-lg-4 col-md-4 col-sm-4 highlight">
                    <div class="text-center">
                        <img src="/images/value.svg" class="__shecodevmv">
                        <p class="__shecodevmvp">Vision</p>
                        <p class="__shecodevmvp1">An Africa where<br> women are equally<br> represented in all<br>
                            career roles in<br> technology
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 highlight">
                    <div class="text-center">
                        <img src="/images/flag.svg" class="__shecodevmv">
                        <p class="__shecodevmvp">Mission</p>
                        <p class="__shecodevmvp1">To build a community<br> that embodies technical
                            <br> growth, networking,<br> metorship and visibility amongst<br> all level career roles in
                            Technology
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 highlight">
                    <div class="text-center">
                        <img src="/images/target.svg" class="__shecodevmv">
                        <p class="__shecodevmvp">Values</p>
                        <p class="__shecodevmvp1">Team work,<br> Network,<br> Community,<br> Technical growth,<br>
                            Leadership,<br> Visibility
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row __shecodebestie">
            <h2 class="text-center">Become our bestie...</h2>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h4>Join our growing Slack community</h4>
                <p>With over 1400 African Women in Tech, we keep you updated and informed about various ways to network
                    and grow your career in tech.</p>
                <a href="https://bit.ly/joinscaslack" class="btn __shecodebtn2">Join Now</a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h4>Follow us on social media</h4>
                <br>
                <p>
                    Stay updated with us and be the first to know about our activities by following our social mediapage
                    -
                    <a href="https://twitter.com/SheCodeAfrica">Twitter</a>,
                    <a href="https://twitter.com/SheCodeAfrica">Facebook</a>,
                    <a href="https://twitter.com/SheCodeAfrica">Instagram</a>
                </p>
                <a href="/about" class="btn __shecodebtn2">Lean More</a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h4>Attend an event</h4>
                <br>
                <p>Participate in any of our online or offline events and training.
                    SCA Campus Meetups, Mentoring Programs, CodeNewbies, and more</p>
                <a href="/events" class="btn __shecodebtn2">Learn More</a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h4>Support our cause</h4>
                <br>
                <p>A partnership, sponsorship, or donation from you can help us make an impact! Learn how you can be a
                    part of our mission </p>
                <a href="/partners" class="btn __shecodebtn2">Learn More</a>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="__shecodetestimcard">
                    <p class="__shecodetestimp">This Sca mentoring program was like a breathe of fresh air that I needed
                        since December 2019. I'm so filled as I joined
                        and has been growing on my learning path (Php/laravel).
                        In fact my mentor is the best that anyone can have. She's not only good but naturally a guide.
                        God bless you @FaithAdekogbe.
                        Thanks shecodeafrica & all the organizers. I'll forever make you guys proud. 🥰
                    </p>
                    <p class="__shecodetestimp1">Onyekachi Peace<br></p><br>
                </div>
                <img src="/images/PeaceAmara.jpg" class="__shecodetestimimg">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="__shecodetestimcard last-child">
                    <p class="__shecodetestimp">I met lots of people that has been helping in my journey so far,also
                        privilledge to be part of the COHORT 1 and I've
                        learnt so much within a short period.
                    </p>
                    <p class="__shecodetestimp1">Jolugba Esther Tinuade<br></p><br>
                </div>
                <img src="/images/EstherJolugba.jpg" class="__shecodetestimimg">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                <div class="__shecodetestimcard">
                    <p class="__shecodetestimp">
                        Sometime in 2019, I saw a mentorship application form on twitter and decided to give it a try. I
                        was excited when I got
                        selected for the mentorship program. My mentor, Eva has never failed in playing her role and my
                        co-mentee, Aisha, has
                        been of great help. I have learnt a lot and the resources provided are awesome. Thanks SCA you
                        guys rock!
                    </p>
                    <p class="__shecodetestimp1">Cadeton Precious<br></p><br>
                </div>
                <img src="/images/PreciousCadeton.jpg" class="__shecodetestimimg">
            </div>
        </div>

        <div class="__shecodeformcard">
            <p class="__shecodeformp">We're Listening</p>
            {% if enquirySubmitted %}
            <h3>Thanks for getting in touch.</h3>
            {% else %}
            <form method="post">
                <input type="hidden" name="action" value="">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group {{ class }}">
                            <label class="__clabelinput">
                                <input type="text" name="name.full" value="{{ formData["name.full"] }}" placeholder=" "
                                    class="form-control __formin">
                                <span>Full Name</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        {% set class = ( "has-error" if validationErrors.email else "" ) %}
                        <div class="form-group {{ class }}">
                            <label class="__clabelinput">
                                <input type="email" name="email" value="{{ formData.email }}" placeholder=" "
                                    class="form-control __formin">
                                <span>Email</span>
                            </label>
                        </div>
                    </div>
                </div>
                <br> {% set class = ( "has-error" if validationErrors.message else "" ) %}

                <div class="form-group {{ class }}">
                    <textarea name="message" id="input" class="form-control" rows="5" placeholder="Message"
                        value="{{ formData.message }}"></textarea>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn  __shecodebtn">Submit</button>
                </div>
            </form>
            {% endif %}
        </div>




    </div>
</section>
{% endblock %}