{% extends "layouts/default.html" %} {% block intro %}
<section class="__shecodeheader">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="__shecodeheader_text">
                    <div class="__shecodeheader_title">
                        <h1>She Code Africa</h1>
                    </div>
                    <div class="__shecodeheader_subtitle">
                        <h4>
                            ...celebrating and empowering <span class="highlight">Women in Tech</span> across Africa
                        </h4>
                    </div>
                    <a href="" class="btn shecode_button">JOIN US</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="__homepage_image"></div>
            </div>
        </div>
    </div>

</section>
{% endblock %} {% block content %}


<div>
    <section>
        <div class="about_section">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="__shecode_title">About Us</h4>
                </div>
                <div class="col-sm-9">
                    <p>We are a non-profit organisation focused on celebrating and
                        <br> empowering young girls and women in tech across Africa.
                    </p>
                    <div class="about_values">
                        <div id="vision">
                            <img class="icon" src="/images/vision.svg" alt="">
                            <h4>Vision</h4>
                            <p>An Africa where women are equally represented across all career roles in Technology.
                            </p>
                        </div>
                        <div id="mission">
                            <img class="icon" src="/images/mission.svg" alt="">
                            <h4>Mission</h4>
                            <p>To build a community that embodies technical growth, networking, mentorship and visibility amongst all level career roles in Technology.
                            </p>
                        </div>
                        <div id="core">
                            <img class="icon" src="/images/value.svg" alt="">
                            <h4>Core Values</h4>
                            <p>Team work, Community, Technical growth, Leadership, Visibility.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="counter">

        </div>
    </section>
    <div class="container">
        <div class="row event_topic">
            <div class="col-sm-2 col-md-2 col-lg-2">

            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <h4 class="__shecode_topic">Identify With Us</h4>
                <p class="__shecode_subtopic">If you love women in tech like we do, our arms are wide open to receive you.
                </p>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">

            </div>
        </div>
        <section class="__shecode_block">
            <div class="row ">
                <div class="col-md-6 col-lg-6 col-sm-6 home_side_identify">
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6  float-right">
                    <h4 class="__shecode_title">Growing Slack Community</h4>
                    <p class="__shecode_subtitle">Join over 3000 Women in Tech across several African countries on our Slack community to network, stay updated, get help and grow in your career.</p>

                    <a href="" class="btn shecode_button">Join us </a>
                </div>
            </div>

        </section>
        <section class="__shecode_block">
            <div class="row ">

                <div class="col-md-6 col-lg-6 col-sm-6  ">
                    <h4 class="__shecode_title">Attend an Event</h4>
                    <p class="__shecode_subtitle">Participate in any of our online or offline events and initiatives inluding bootcamps, Fireside chats, webinars, Mentorship programs and several more!</p>

                    <a href="/events" class="btn shecode_button">VIEW UPCOMING EVENTS</a>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 home_side_event float-right hidden-xs">
                </div>
            </div>

        </section>
        <div class="row ">
            <div class="col-md-6 col-lg-6 col-sm-6 home_side_partner hidden-xs">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 float-right">
                <h4 class="__shecode_title">Be a Partner or Sponsor</h4>
                <p class="__shecode_subtitle">Be a sponsor for our next event via a donation or Partner with our organisation to reach more women in tech across Africa.
                </p>
                <a href="partnerships@shecodeafrica.org" class="btn shecode_button">Be a partner</a>
                <a href="/partner-sponsor" class="btn shecode_button2">Be a sponsor</a>
            </div>

        </div>
        <div class="row ">

            <div class="col-md-6 col-lg-6 col-sm-6 ">
                <h4 class="__shecode_title">Follow Us on Social Media</h4>
                <p class="__shecode_subtitle">Stay updated with us and be the first to know about all our activities and events, by following our social media pages </p>

                <a href="" class="btn shecode_button">LEARN MORE</a>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 home_side_follow float-right ">
            </div>
        </div>
    </div>
    <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quia ipsum cupiditate quibusdam, quidem consequatur perspiciatis debitis natus! Dolor aut officiis beatae sed rerum quo, placeat maxime totam odit? Quaerat!
        </p>
    </section>
    <section>
        <div class="contact_section">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="__shecode_title">Contact <br> Us</h4>
                </div>
                <div class="col-sm-9">
                    <div class="__shecode_contactform">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Full Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="8" placeholder="What would you like to ask us?"></textarea>
                            </div>
                            <a href=""></a>
                            <button class="btn shecode_button " style="width: 100%;">Send Message</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>

{% endblock %}