{% extends "layouts/default.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
				<article>
					<p>
						<a href="/jobs">&larr; back to jobs</a>
					</p>
					<hr>
					{% if not data.job %}
						<h2>Job not found</h2>
					{% else %}
						<header>
							<h1 class="post-title">{{ data.job.title }}</h1>
							<h5 class="text-muted">Added
								{% if data.job.publishedDate %}
									on {{ data.job._.publishedDate.format("MMMM Do, YYYY") }}
								{% endif %}
							</h5>
							<h5 class="text-muted">
								{% if data.job.categories and data.job.categories.length %}
									in {% for cat in data.job.categories %}<a href="/blog/{{ cat.key }}">{{ cat.name }}</a>{% if loop.index < data.job.categories.length %}, {% endif %}{% endfor %}
								{% endif %}
							</h5>
							<h5 class="text-muted">
								{% if data.job.author %}
									by {{ data.job.author.name.first }}
								{% endif %}
							</h5>
						</header>
						<br>
						<div>
							<p>
								Company: {{ data.job.companyName}}
							</p>
							<p>
								Location: {{ data.job.location}}
							</p>
							<p>
								Salary Range: {{ data.job.salaryRange}}
							</p>
							{{ data.job.content.full|safe }}
							<p>
								<a class="btn  __shecodebtn" href="{{ data.job.applicationLink }}" target="_blank"><img src="/images/shecode-hair.svg">&nbsp;Apply</a> 
							</p>
						</div>
					{% endif %}
				</article>
			</div>
		</div>
	</div>
{% endblock %}
