{% extends "layouts/default.html" %} 
{% block css %}
	<link rel="stylesheet" type="text/css" href="styles/jobs.css">
{% endblock %}

{% block intro %} 
	<section class="jobs section-whitespace-bottom">
		<div class="container">
				<div class="row flex-center">
						<div class="col-sm-8 col-xs-12">
								<div class="__shecodeheader_text">
										<div class="__shecodeheader_title">
												<h1 class="text-center">JOB OPPORTUNITIES</h1>
										</div>
										<div class="__shecodeheader_subtitle">
												<h4 class="text-center">
													We are a non-profit organization focused on celebrating and empowering young girls and women in technology across Africa.
												</h4>
										</div>
										<button class="btn sca-btn pink-btn sca-btn-small">
											REGISTER
										</button>
								</div>
						</div>
				</div>
		</div>
	</section>
{% endblock %}

{% block content %}
	<section class="container __jobs_preview section-whitespace-top">
		<div class="container width-100 ">
			<div class="row flex-center flex-wrap">
				<div class="col-lg-4 col-sm-6 col-xs-12">
					<div class="__jobs_preview_card">
						<h3 class="title">
							Senior Product Designer
						</h3>
						<p class="org">FairMoney, Lagos, Nigeria</p>
						<p>We are a non profit organization focused on celebrating young girls in technology across Africa.</p>
						<p class="posted-time">Posted 1 week ago</p>
						<button class="btn sca-btn pink-btn sca-btn-small" data-toggle="modal" data-target="#job-view-more">
							VIEW MORE
						</button>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6 col-xs-12">
					<div class="__jobs_preview_card">
						<h3 class="title">
							Senior Product Designer
						</h3>
						<p class="org">FairMoney, Lagos, Nigeria</p>
						<p>We are a non profit organization focused on celebrating young girls in technology across Africa.</p>
						<p class="posted-time">Posted 1 week ago</p>
						<button class="btn sca-btn pink-btn sca-btn-small" data-toggle="modal" data-target="#job-view-more">
							VIEW MORE
						</button>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6 col-xs-12">
					<div class="__jobs_preview_card">
						<h3 class="title">
							Senior Product Designer
						</h3>
						<p class="org">FairMoney, Lagos, Nigeria</p>
						<p>We are a non profit organization focused on celebrating young girls in technology across Africa.</p>
						<p class="posted-time">Posted 1 week ago</p>
						<button class="btn sca-btn pink-btn sca-btn-small" data-toggle="modal" data-target="#job-view-more">
							VIEW MORE
						</button>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6 col-xs-12">
					<div class="__jobs_preview_card">
						<h3 class="title">
							Senior Product Designer
						</h3>
						<p class="org">FairMoney, Lagos, Nigeria</p>
						<p>We are a non profit organization focused on celebrating young girls in technology across Africa.</p>
						<p class="posted-time">Posted 1 week ago</p>
						<button class="btn sca-btn pink-btn sca-btn-small" data-toggle="modal" data-target="#job-view-more">
							VIEW MORE
						</button>
					</div>
				</div>

				<!-- Modal -->
				<div id="job-view-more" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
					<div class="modal-dialog">

						<div class="modal-content ">
							<div class="modal-body">
								<div class="row">	
									<div class="col-sm-12 role-apply">
										<div class="role">
											<h3 class="title">
												Senior Product Designer
											</h3>
											<p class="org">FairMoney, Lagos, Nigeria</p>
										</div>
										<div class="apply">
											<div class="job-status">
												ACTIVE
											</div>
											<button class="btn sca-btn pink-btn sca-btn-small" data-toggle="modal" data-target="#job-view-more">
												APPLY
											</button>
										</div>
									</div>		
								</div>

								<div class="row role-desc">
									<div class="col-sm-12">
										<p>
											A Web Developer is responsible for the coding, design and layout of a website according to a company’s specifications. As the role takes into consideration user experience and function, a certain level of both graphic design and computer programming is necessary. Once a website has been created, a Web Developer will generally assist with the maintenance and upkeep of the website.
										</p> 
										<p>
											A Web Developer is responsible for the coding, design and layout of a website according to a company’s specifications. As the role takes into consideration user experience and function, a certain level of both graphic design and computer programming is necessary. Once a website has been created, a Web Developer will generally assist with the maintenance and upkeep of the website.
										</p>
										<p>
											A Web Developer is responsible for the coding, design and layout of a website according to a company’s specifications. As the role takes into consideration user experience and function, a certain level of both graphic design and computer programming is necessary. Once a website has been created, a Web Developer will generally assist with the maintenance and upkeep of the website.
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-12 grid-container margin-top-3r">
										<div class="level">
											<p class="__jobdeets_header">Seniority Level</p>
											<p class="__jobdeets_body">Entry Level</p>
										</div>
										<div class="industry">
											<p class="__jobdeets_header">Industry</p>
											<p class="__jobdeets_body">Staffing & Recruiting</p>
											<p class="__jobdeets_body">Consumer Goods Retail</p>
										</div>
										<div class="employment-type">
											<p class="__jobdeets_header">Employment Type</p>
											<p class="__jobdeets_body">Full Time</p>
										</div>
										<div class="salary-range">
											<p class="__jobdeets_header">Salary Range</p>
											<p class="__jobdeets_body">120,000 - 150,000</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End of Modal body -->
						</div>

						<!-- End of Modal content -->
					</div>
					<!-- End of Modal dialog -->
				</div>
				<!-- End of Modal -->
			</div>
		</div>
	</section>

{% endblock %}
