{% extends "layouts/default.html" %} {% block css %}
<link rel="stylesheet" type="text/css" href="styles/jobs.css"> {% endblock %} {% block intro %}
<section class="jobs jobs-header section-whitespace-bottom">
    <div class="container">
        <div class="row flex-center">
            <div class="col-sm-8 col-xs-12">
                <div class="__shecodeheader_text">
                    <div class="__shecodeheader_title">
                        <h1 class="text-center">JOB OPPORTUNITIES</h1>
                    </div>
                    <div class="__shecodeheader_subtitle">
                        <h4 class="text-center">
                            We are a non-profit organization focused on celebrating and empowering young girls and women
                            in technology across Africa.
                        </h4>
                    </div>
                    {% if data.companyName %}
                    <h4 class="__shecodeheader_subtitle">
                        <a href="/jobs/{{data.companyName}}" title="View Added Jobs">
                            <i>Logged In As {{data.companyName}}</i>
                        </a>
                    </h4>
                    <a href="/jobs/post/new" class="btn sca-btn pink-btn sca-btn-small">
                        POST A JOB
                    </a> {% else %}
                    <a href="/jobs/register/org-details" class="btn sca-btn pink-btn sca-btn-small">
                        POST A JOB
                    </a> {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block content %}
<section class="container __jobs_preview section-whitespace-top">
    <div class="container width-100">
        <div class="row flex-center flex-wrap">
            {%if data.jobs.results|length %}{% for job in data.jobs.results %}
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="__jobs_preview_card">
                    <h3 class="title">
                        {{job.title}}
                    </h3>
                    <p class="org">{{job.company.companyName}}, {{job.company.location}} </p>
                    <p>{%if job.company.categories %} {{job.company.categories.name}} {% else %}
                        {{job.company.industry}} {%endif%}
                    </p>
                    <p class="posted-time">Posted {{job._.publishedDate.format("MMMM Do, YYYY")}}</p>
                    <button class="btn sca-btn pink-btn sca-btn-small" data-toggle="modal" data-target="#{{job.id}}">
                        VIEW MORE
                    </button>
                </div>
            </div>

            <!-- Modal -->
            <div id="{{job.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">

                    <div class="modal-content ">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12 role-apply">
                                    <div class="role">
                                        <h3 class="title">
                                            {{job.title}}
                                        </h3>
                                        <p class="org">{{job.company.companyName}}, {{job.company.location}}</p>
                                    </div>
                                    <div class="apply">
                                        <div class="job-status">
                                            {% if job.deadline
                                            < data.todayDate %} INACTIVE {% else %} ACTIVE {%endif%} </div>
                                        {% if job.deadline
                                                < data.todayDate %} <button class="btn sca-btn pink-btn sca-btn-small"
                                            data-toggle="modal" data-target="#{{job.id}}">
                                            CLOSE
                                        </button>
                                        {%else%}
                                        <a href="{{job.applicationLink}}" target="_blank">
                                            <button class="btn sca-btn pink-btn sca-btn-small">APPLY</button>
                                        </a>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>

                            <div class="row role-desc">
                                <div class="col-sm-12">
                                    <p style="text-align: justify;">
                                        {{job.jobDescription}}
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 grid-container margin-top-3r">
                                    <div class="level">
                                        <p class="__jobdeets_header">Minimum Experience</p>
                                        <p class="__jobdeets_body">{{job.minimumExperience}}</p>
                                    </div>
                                    <div class="industry">
                                        <p class="__jobdeets_header">Industry</p>
                                        <p class="__jobdeets_body">{%if job.company.categories %}
                                            {{job.company.categories.name}} {% else %}
                                            {{job.company.industry}} {%endif%}
                                        </p>
                                        <p class="__jobdeets_body">{{job.categories.name}}</p>
                                    </div>
                                    <div class="employment-type">
                                        <p class="__jobdeets_header">Deadline</p>
                                        <p class="__jobdeets_body">{{job._.deadline.format("MMMM Do, YYYY")}}</p>
                                    </div>
                                    <div class="salary-range">
                                        <p class="__jobdeets_header">Salary Range</p>
                                        <p class="__jobdeets_body">{{job.salaryRange}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Modal body -->
                    </div>

                    <!-- End of Modal content -->
                </div>
                <!-- End of Modal dialog -->
            </div>
            <!-- End of Modal -->
            {% endfor %} {% else %}
            <h3 class="text-center" style="padding-top: 5rem;">Jobs' list coming soon...</h3>
            {%endif%}

        </div>
        <div class="row flex-center flex-wrap">
            {% if data.jobs.totalPages > 1 %}
            <ul class="pagination">
                {% if data.jobs.previous %}
                <li>
                    <a href="?page={{ data.jobs.previous }}">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </li>
                {% else %}
                <li class="disabled">
                    <a href="?page=1">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </li>
                {% endif %} {% for p in data.jobs.pages %}
                {% set class = ( "active" if data.jobs.currentPage == p else "" ) %}
                <li class="{{ class }}">
                    {% set page = ( (data.jobs.totalPages if i else 1) if p == "..." else p ) %}
                    <a href="?page={{ page }}">{{ p }}</a>
                </li>
                {% endfor %} {% if data.jobs.next %}
                <li>
                    <a href="?page={{ data.jobs.next }}">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
                {% else %}
                <li class="disabled">
                    <a href="?page={{ data.jobs.totalPages }}">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}