{% extends "layouts/default.html" %}

<section>
{% block intro %}
<div class="__shecodeaboutimg">
	<div class="container text-center">
		{% set title = ( data.category.name if data.category else "JOBS" ) %}
		<p class="__shecodeafriab">{{title}}</p>
		<p class="__shecodeafriab1">Actively shaping the lives of girls in STEM</p>
	</div>
</div>
{% endblock %}
{% block content %}
<div class="container">
	<p class="welcome_community">RECENT JOBS</p>
    <hr class="community_line">
    <br><br>
	<div class="row">
		<div class="col-sm-8 col-md-9">
			{% if filters.category and not data.category %}
				<h3 class="text-muted">Invalid Category.</h3>
			{% else %}
				{% if data.posts.results.length %}
					{% if data.posts.totalPages > 1 %}
						<h4 class="text-weight-normal">
							Showing
							<strong>{{ data.posts.first }}</strong>
							to
							<strong>{{ data.posts.last }}</strong>
							of
							<strong>{{ data.posts.total }}</strong>
							posts.
						</h4>
					{% else %}
						<h4 class="text-weight-normal">Showing {{ utils.plural(data.posts.results.length, "* post") }}.</h4>
					{% endif %}
					<div class="blog">
						{% for post in data.posts.results %} {{ blogPost(post) }} {% endfor %}
					</div>
					{% if data.posts.totalPages > 1 %}
						<ul class="pagination">
							
							{% if data.posts.previous %}
								<li>
									<a href="?page={{ data.posts.previous }}">
										<span class="glyphicon glyphicon-chevron-left"></span>
									</a>
								</li>
							{% else %}
								<li class="disabled">
									<a href="?page=1">
										<span class="glyphicon glyphicon-chevron-left"></span>
									</a>
								</li>
							{% endif %}

							{% for p in data.posts.pages %} {% set class = ( "active" if data.posts.currentPage == p else "" ) %}
								<li class="{{ class }}">
									{% set page = ( (data.posts.totalPages if i else 1) if p == "..." else p ) %}
									<a href="?page={{ page }}">{{ p }}</a>
								</li>
							{% endfor %}

							{% if data.posts.next %}
								<li>
									<a href="?page={{ data.posts.next }}">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</a>
								</li>
							{% else %}
								<li class="disabled">
									<a href="?page={{ data.posts.totalPages }}">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</a>
								</li>
							{% endif %}

						</ul>
					{% endif %}
				{% else %}
					{% if data.category %}
						<h3 class="text-muted">There are no posts in the category {{ data.category.name }}.</h3>
					{% else %}
						<h3 class="text-muted">There are no posts yet.</h3>
					{% endif %}
				{% endif %}
			{% endif %}
		</div>
		{% if data.categories.length %}
			<div class="col-sm-4 col-md-3">
				<h2>Categories</h2>
				<div class="list-group" style="margin-top: 70px;">
					{% set class = ( "active" if not data.category else "" ) %}
					<a href="/blog" class="{{ class }} list-group-item">All Categories</a>
					{% for cat in data.categories %} {% set class = ( "active" if data.category and data.category.id == cat.id else "" ) %}
						<a href="/blog/{{ cat.key }}" class="{{ class }} list-group-item">{{ cat.name }}</a>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}
</section>