{% extends "layouts/jobpost.html" %} {% block content %}
<div class="container __register">
    <section class="jobs __register_welcome">
        <div class="flex-center">
            <div class="__register_welcome_text"> 
                <a href="/" class="logo">
                    <img src="../../images/she-code-africa-logo.svg" class="__shecodelogo">
                </a>
                <div class="welcome_text">
                    <h2 class="text-center">Welcome Here</h2>
                    <p class="text-center">Reach top talent and find the right candidate today</p>
                </div>
                <div class="here contact-details width-100">
                    <a href="/jobs/register/org-details">
                        <div class="first_ring"></div>
                    </a>
                    <div class="connector"></div>
                    <div class="second_ring">
                    </div>
                </div>
            </div>
            <div>
                <a title="go back" href="/jobs" class="close">&#215;</a>
            </div>
        </div>
    </section>

    <section class="__register_form">
        {% if errorMessage %}
        <div class="alert alert-danger flex-center">
            {{errorMessage}}
        </div>
        {% endif %}
        {% if validationErrors|length %}
        <div class="flex-center alert alert-danger">
            Validation Error
        </div>
        {% endif %}
        <form class="flex-center" method="POST">
            <input type="hidden" name="action" value="">
            <div class="form-group">
                <input type="text" name="contactName" value="{{formData.contactName}}" class="form-control"
                    placeholder="Contact Name *" required>
            </div>

            {% if validationErrors.phoneNumber %}
                <div>
                    <label class="text text-danger text-center">
                        {{validationErrors.phoneNumber}}
                    </label> 
                </div>             
            {%endif%}  
            <div class="form-group __contact_number">           
                <select name="countryCode" id="countryCode" class="form-control dailing-code">
                    {% for i in countries %}
                    <option value="{{i.isoCode2}}" {{'selected' if i.isoCode2 == 'NG'}}>+{{i.countryCodes}}</option>
                    {%endfor%}
                </select>
                <input type="number" name="phoneNumber" id="phoneNumber" value="{{formData.phoneNumber}}" class="form-control"
                    placeholder="Phone Number *" required>
            </div>

            <div class="form-group">
                {% if validationErrors.email %}<label class="text text-danger text-center">
                    {{validationErrors.email.error}}</label> {%endif%}

                <input type="email" name="email" value="{{formData.email}}" class="form-control"
                    placeholder="Email Address *" required>
            </div>

            <div class="form-group">
                {% if validationErrors.password %}<label class="text text-danger text-center">
                    {{validationErrors.password.error}}</label> {%endif%}
                <div class="input-group">
                    <input type="password" name="password" id="password" value="{{formData.password}}" class="form-control"
                        placeholder="Password *" required>
                    <span class="input-group-addon glyphicon glyphicon-info-sign password-hint"
                        title="1. Password must be longer than 8 characters. &#10;2. Password must not be common or frequently used."></span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input type="password" name="cpassword" id="cpassword" value="{{formData.cpassword}}"
                        class="form-control" placeholder="Confirm Password *" required>
                        <span class="input-group-addon glyphicon glyphicon-info-sign password-hint"
                            title="1. Password must be longer than 8 characters. &#10;2. Password must not be common or frequently used."></span>
                </div>
                <label id="error" class="text text-danger text-center" style="display: none;">
                    Passwords Do Not Match
                </label>
            </div>

            <button type="submit" class="btn sca-btn light-pink-btn" id="submitButton">
                REGISTER
            </button>
            <!-- href="/jobs/atb-solutions" -->
        </form>
        <p class="text-center post-a-job-cta">
            <span>Already have an account?&nbsp;</span>
            <a href="/jobs/org/login">LOGIN TO POST A JOB</a>
        </p>
    </section>
</div>
<script>
    var password = document.getElementById("password");
    var confirmPassword = document.getElementById("cpassword");
    var countries = document.getElementById("countryCode");
    var phoneNumber = document.getElementById("phoneNumber");
    var submitButton = document.getElementById("submitButton");

    // countries.onchange = function () {
    //     phoneNumber.value = countries.value;
    //     console.log('changer');
    //     console.log(phoneNumber.value);
    //     console.log(countries.value);
    // }

    password.onkeyup = function () {
        if (confirmPassword.value && password.value !== confirmPassword.value) {
            document.getElementById("error").style.display = "block";
            submitButton.disabled = true;
        } else {
            document.getElementById("error").style.display = "none";
            submitButton.disabled = false;
        }
    }
    confirmPassword.onkeyup = function () {
        if (password.value && password.value !== confirmPassword.value) {
            document.getElementById("error").style.display = "block";
            submitButton.disabled = true;
        } else if (password.value && confirmPassword.value.length < 8) {
            document.getElementById("error").textContent = "Password cannot be less than 8 characters";
            submitButton.disabled = true;
        } else {
            document.getElementById("error").style.display = "none";
            submitButton.disabled = false;
        }
    }
</script>
{% endblock %}
