{% extends "layouts/jobpost.html" %} {% block content %}
<div class="container __register">
    <section class="jobs __register_welcome">
        <div class="flex-center">
            <div class="__register_welcome_text"> 
                <a href="/" class="logo">
                    <img src="../../images/she-code-africa-logo.svg" class="__shecodelogo">
                </a>
                <div class="welcome_text">
                    <h2 class="text-center">Welcome Here</h2>
                    <p class="text-center">Reach top talent and find the right candidate today</p>
                </div>
                <div class="here contact-details width-100">
                    <a href="/jobs/register/org-details">
                        <div class="first_ring"></div>
                    </a>
                    <div class="connector"></div>
                    <div class="second_ring">
                    </div>
                </div>
            </div>
            <div>
                <a title="go back" href="/jobs" class="close">&#215;</a>
            </div>
        </div>
    </section>

    <section class="__register_form">
        {% if errorMessage %}
        <div class="alert alert-danger flex-center">
            {{errorMessage}}
        </div>
        {% endif %}
        {% if validationErrors|length %}
        <div class="flex-center alert alert-danger">
            Validation Error
        </div>
        {% endif %}
        <form class="flex-center" method="POST">
            <input type="hidden" name="action" value="">
            <div class="form-group">
                <input type="text" name="contactName" value="{{formData.contactName}}" class="form-control"
                    placeholder="Contact Name *" required>
            </div>

            <div class="form-group __contact_number">                
                <select name="location" id="location" class="form-control dailing-code">
                    <option value="+234" selected>Nigeria</option>
                    {% for i in countries %}
                    <option value="{{i.countryCodes}}">{{i.country}}</option>
                    {%endfor%}
                </select>
                <input type="number" name="phoneNumber" id="phoneNumber" value="{{formData.phoneNumber}}" class="form-control"
                    placeholder="Phone Number *" required>
            </div>

            <div class="form-group">
                {% if validationErrors.email %}<label class="text text-danger text-center">
                    {{validationErrors.email.error}}</label> {%endif%}

                <input type="email" name="email" value="{{formData.email}}" class="form-control"
                    placeholder="Email Address *" required>
            </div>

            <div class="form-group">
                {% if validationErrors.password %}<label class="text text-danger text-center">
                    {{validationErrors.password.error}}</label> {%endif%}
                <input type="password" name="password" id="password" value="{{formData.password}}" class="form-control"
                    placeholder="Password *" required>
            </div>

            <div class="form-group">
                <input type="password" name="cpassword" id="cpassword" value="{{formData.cpassword}}"
                    class="form-control" placeholder="Confirm Password *" required>
                <label id="error" class="text text-danger text-center" style="display: none;">Passwords Do Not
                    Match</label>
            </div>

            <button type="submit" class="btn sca-btn light-pink-btn" id="submitButton">
                REGISTER
            </button>
            <!-- href="/jobs/atb-solutions" -->
        </form>
        <p class="text-center post-a-job-cta">
            <span>Already have an account?&nbsp;</span>
            <a href="/jobs/org/login">LOGIN TO POST A JOB</a>
        </p>
    </section>
</div>
<script>
    var psw = document.getElementById("password");
    var cpsw = document.getElementById("cpassword");
    var countries = document.getElementById("location");
    var pno = document.getElementById("phoneNumber");
    var submitButton = document.getElementById("submitButton");

    countries.onchange = function () {
        pno.value = countries.value;
        // console.log('changer');
        // console.log(pno.value);
        // console.log(countries".value);
    }


    cpsw.onblur = function () {
        if (psw.value !== cpsw.value) {
            document.getElementById("error").style.display = "block";
            submitButton.style.visibility = "hidden";
        } else {
            document.getElementById("error").style.display = "none";
            submitButton.style.visibility = "visible";
        }
    }
    psw.onblur = function () {
        if (psw.value !== cpsw.value) {
            document.getElementById("error").style.display = "block";
            submitButton.style.visibility = "hidden";
        } else {
            document.getElementById("error").style.display = "none";
            submitButton.style.visibility = "visible";
        }
    }
    cpsw.onkeyup = function () {
        if (psw.value !== cpsw.value) {
            document.getElementById("error").style.display = "block";
            submitButton.style.visibility = "hidden";
        } else {
            document.getElementById("error").style.display = "none";
            submitButton.style.visibility = "visible";
        }
    }
</script>
{% endblock %}