{% extends "layouts/jobpost.html" %} {% block content %}
<div class="container __register">
    <section class="jobs __register_welcome">
        <div class="flex-center">
            <div class="__register_welcome_text">
                <a href="/" class="logo">
                    <img src="../../images/she-code-africa-logo.svg" class="__shecodelogo">
                </a>
                <div class="welcome_text">
                    <h2 class="text-center">Welcome Here</h2>
                    <p class="text-center">Reach top talent and find the right candidate today</p>
                </div>
                <div class="here contact-details width-100">
                    <a href="/jobs/register/org-details">
                        <div class="first_ring"></div>
                    </a>
                    <div class="connector"></div>
                    <div class="second_ring">
                    </div>
                </div>
            </div>
            <div>
                <a title="go back" href="/jobs" class="close">&#215;</a>
            </div>
        </div>
    </section>

    <section class="__register_form">
        {% if formerror %}
        <div class="alert alert-danger">
            <div class="flex-center">
                Email Address or Phone Number Exists.
            </div>
            <div class="flex-center">
                <a href="/jobs/org/login">Log In Instead?</a>
            </div>
        </div>
        {% endif %}
        <form class="flex-center" method="POST">
            <input type="hidden" name="action" value="">
            <div class="form-group">
                <input type="text" name="contactName" value="{{formData.contactName}}" class="form-control" placeholder="Contact Name *" required>
            </div>

            <div class="form-group __contact_number">
                <select name="location" class="form-control dailing-code">
					<option value="+234" selected>+234</option>
				</select>
                <input type="number" name="phoneNumber" value="{{formData.phoneNumber}}" class="form-control" placeholder="Phone Number *" required>
            </div>

            <div class="form-group">
                <input type="email" name="email" value="{{formData.email}}" class="form-control" placeholder="Email Address *" required>
            </div>

            <div class="form-group">
                <label id="numerror" class="text text-danger text-center"></label>
                <input type="password" name="password" id="password" value="{{formData.password}}" class="form-control" placeholder="Password *" required>
            </div>

            <div class="form-group">
                <input type="password" name="cpassword" id="cpassword" value="{{formData.cpassword}}" class="form-control" placeholder="Confirm Password *" required>
                <label id="error" class="text text-danger text-center" style="display: none;">Passwords Do Not
					Match</label>
            </div>

            <button type="submit" class="btn sca-btn light-pink-btn" id="submitButton">
				REGISTER
			</button>
            <!-- href="/jobs/atb-solutions" -->
        </form>
        <p class="text-center post-a-job-cta">
            <span>Already have an account?&nbsp;</span>
            <a href="/jobs/org/login">LOGIN TO POST A JOB</a>
        </p>
    </section>
</div>
<script>
    var psw = document.getElementById("password");
    var cpsw = document.getElementById("cpassword");
    var submitButton = document.getElementById("submitButton");
    cpsw.onblur = function() {
        if (psw.value !== cpsw.value) {
            document.getElementById("error").style.display = "block";
            submitButton.style.visibility = "hidden";
        } else {
            document.getElementById("error").style.display = "none";
            submitButton.style.visibility = "visible";
        }
    }
    psw.onblur = function() {
        if (psw.value !== cpsw.value) {
            document.getElementById("error").style.display = "block";
            submitButton.style.visibility = "hidden";
        } else {
            document.getElementById("error").style.display = "none";
            submitButton.style.visibility = "visible";
        }
    }
    cpsw.onkeyup = function() {
        if (psw.value !== cpsw.value) {
            document.getElementById("error").style.display = "block";
            submitButton.style.visibility = "hidden";
        } else {
            document.getElementById("error").style.display = "none";
            submitButton.style.visibility = "visible";
        }
    }
    psw.onkeyup = function() {
        if (psw.value.length < 8) {
            document.getElementById("numerror").innerHTML = "Passwords must be at least 8 characters long";
            submitButton.style.visibility = "hidden";
        } else {
            document.getElementById("numerror").innerHTML = "";
            submitButton.style.visibility = "visible";
        }
    }
</script>
{% endblock %}