{% extends "layouts/jobpost.html" %} {% block content %}
<div class="container __register">
    <section class="jobs __register_welcome">
        <div class="flex-center">
            <div class="__register_welcome_text">
                <a href="/" class="logo">
                    <img src="../../images/she-code-africa-logo.svg" class="__shecodelogo">
                </a>
                <div class="welcome_text">
                    <h2 class="text-center">Reset Password</h2>
                    <p class="text-center">Enter your new password</p>
                </div>
            </div>
            <div>
                <a title="go back" href="/jobs" class="close">&#215;</a>
            </div>
        </div>
    </section>

    <section class="__register_form">
        {% if validationError %}
        <div class="alert alert-danger bg-danger text-white flex-center">
            {{validationError}}
        </div>
        {% endif %}
        <form class="flex-center" method="POST">
            <input type="hidden" name="action" value="">
            <div class="form-group">
                <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="New Password *" value="{{formData.Password}}" required>
            </div>

            <div class="form-group">
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password *" value="{{formData.confirmPassword}}" required>
            </div>

            <label id="error" class="text text-danger text-center" style="display: none;">Passwords do not match</label>

            <button type="submit" class="btn sca-btn light-pink-btn" id="submitNewPassword" disabled>
                SUBMIT
            </button>
        </form>
    </section>
</div>
{% endblock %}

{% block js %}
    <script>
        function closeModal() {
            document.getElementById("toast").style.display = "none";
        }

        var newPassword = document.getElementById("newPassword");
        var confirmPassword = document.getElementById("confirmPassword");
        var submitButton = document.getElementById("submitNewPassword");


        newPassword.onblur = function () {
            if (newPassword.value.length < 8) {
                document.getElementById("error").textContent = "Password cannot be less than 8 characters";
                document.getElementById("error").style.display = "block";
                submitButton.disabled = true;
            } else if (confirmPassword.value && password.value !== confirmPassword.value) {
                document.getElementById("error").textContent = "Password do not match";
                document.getElementById("error").style.display = "block";
                submitButton.disabled = true;
            } else {
                document.getElementById("error").style.display = "none";
                submitButton.disabled = false;
            }
        }
        newPassword.onkeyup = function () {
            if (confirmPassword.value && password.value !== confirmPassword.value) {
                document.getElementById("error").textContent = "Password do not match";
                document.getElementById("error").style.display = "block";
                submitButton.disabled = true;
            } else {
                document.getElementById("error").style.display = "none";
                submitButton.disabled = false;
            }
        }
        confirmPassword.onkeyup = function () {
            if (newPassword.value && newPassword.value !== confirmPassword.value) {
                document.getElementById("error").textContent = "Password do not match";
                document.getElementById("error").style.display = "block";
                submitButton.disabled = true;
            } else {
                document.getElementById("error").style.display = "none";
                submitButton.disabled = false;
            }
        }
    </script>
{% endblock %}
