{% extends "layouts/default.html" %}

<section>
    {% block intro %}
    <div class="container text-center">
        <h4 class="text-primary-color font-weight-bolder">
          <span class="glyphicon glyphicon-ok"></span>
          Password reset email has been sent
        </h4>
    </div>
    {% endblock %} {% block content %}
    <div class="container text-center">
      <div class="privacy-intro">
        <p>
          A password reset email has been sent to the provided email but may take several minutes to show
          up in your inbox.
        </p>
        <p>
          Please wait at least 10 minutes before attempting another reset.
        </p>
      </div>
    </div>
    {% endblock %}
</section>
