{% extends "layouts/default.html" %} {% block css %}
<link rel="stylesheet" type="text/css" href="styles/programs.css">
<link rel="stylesheet" type="text/css" href="styles/events.css"> {% endblock %} {% block head %}{% endblock %} {% block intro %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7 col-lg-7">
                <p class="event_title">Programs</p>
                <p class="about_subtitle">
                    All our programs are specifically designed to empower
                    <span class="__shecodegirls">young African girls and women in tech</span> with the technical and career skills needed to scale in their fields” We are a non-profit organization
                </p>
                <!-- <p>
                    <a href="Join Community"></a>
                </p> -->
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5 event_side">
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="container">
    <section>

        <div id="programs-tab">

            <ul class="nav nav-tabs" id="myTab">
                {{ selected_id }} {% for cat in categories %}
                <li class="nav-item">
                    <a class="nav-link filter-button" data-filter="{{cat.id}}" :onclick={{selected_id=cat.id}}>
                        {{cat.name}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="row tab-content">
            selected= {{ selected_id }} {% for i in categories%}
            <div id="program-content" class="">
                {% if i.id == selected_id %} {{i}} {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %} {% block js %}
<script>
    var fvalue;
    $(document).ready(function() {
        $(".filter-button:first").addClass("active")
        fvalue = $(".filter-button:first").attr('data-filter');
        localStorage.setItem('id', fvalue)

        $(".filter-button").click(function() {
            fvalue = $(this).attr('data-filter');
            if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }
            $(this).addClass("active");
        });
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
{% endblock %}