{% extends "layouts/default.html" %} {% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" />

<link rel="stylesheet" type="text/css" href="styles/programs.css">
<link rel="stylesheet" type="text/css" href="styles/events.css"> {% endblock %} {% block head %}{% endblock %} {% block intro %}

<div class="container" class="__program_shecode_block">
    <div class="row">
        <div class="col-md-7 col-sm-7 col-lg-7">
            <p class="page_title">Technical Programs & Bootcamps</p>
            <p class="page_subtitle">
                All our programs are specifically designed to empower
                <span class="__shecodegirls">young African girls and women in tech</span> with the technical and career skills needed to scale in their fields” We are a non-profit organization
            </p>
        </div>
        <div class="col-md-5 col-sm-5 col-lg-5 event_side2">
        </div>
    </div>
</div>

{% endblock %} {% block content %}
<section id="programs" class="__program_shecode_block ">
    {% if categories.length %}
    <div class="container">
        <div id="programs-tab">

            <ul class="nav nav-tabs" id="myTab">
                {% for cat in categories %}
                <li class="nav-item">
                    <a class="nav-link filter-button" data-filter="{{cat.id}}">
                        {{cat.name}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <div class="row tab-content">
        {% for cat in categories %}

        <div class="filter {{cat.id}}">
            <div class="container">
                <div id="program-content" class="">
                    <div class="row event_topic ">
                        <div class="col-sm-2 col-md-2 col-lg-2">

                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 ">
                            <h4 class="program_topic1 ">{{ cat.name }}</h4>
                            <p class="__program_subtopic1">
                                {{cat.description.md}}
                            </p>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">

                        </div>
                    </div>
                </div>
            </div>

            <div class="about_section counter">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="__shecode_title">Program Impact</h4>
                        </div>
                        <div class="col-sm-9">
                            <div class="counter_items  slider">
                                {% for row in reaches %}{% for i in row.category %} {% if i== cat.id %}
                                <div class="slide">
                                    <h4>{{row.count}}</h4>
                                    <p>{{row.name}}</p>
                                </div>

                                {% endif %} {% endfor %} {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- upcoming -->
        {% if upcoming.length>0 %}
        <section class="container row_padding upcoming {{cat.id}}">

            <div id="program-content" class="">
                <div class="row event_topic ">
                    <div class="col-sm-2 col-md-2 col-lg-2">

                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8 ">
                        <h4 class="program_topic1 ">Upcoming Cohort</h4>
                        <p class="__program_subtopic1">View our upcoming programs and discover events curated to match your technical passion and skills.</p>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">

                    </div>
                </div>
            </div>
            <section class="slider upcoming_program">
                {% for row in upcoming %} {% if row.categories== cat.id %}

                <div class="slide">
                    <div class="row inner_block">
                        <img class="col-md-6 col-lg-6 col-sm-6 event_side_past2" src="{{row.banner.secure_url}}" class="img-fluid" alt="{{row.title}}">

                        <div class="col-md-6 col-lg-6 col-sm-6 float-right">
                            <h4 class="__shecode_title">{{row.title}} <span class="cohort">({{row.cohort}})</span></h4>
                            <p class="__shecode_subtitle"> {{row.content.brief }} </p>

                            <a href="/programs/program/{{row.id}}" class="btn shecode_button">See More </a>
                        </div>
                    </div>
                </div>

                {% endif %} {% endfor %}

            </section>

            <div></div>

        </section>

        {% endif %}
        <!-- current -->
        {% if current.length>0 %}
        <section class="container row_padding current {{cat.id}}">

            <div id="program-content" class="">
                <div class="row event_topic  ">
                    <div class="col-sm-2 col-md-2 col-lg-2">

                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <h4 class="program_topic1">Current Cohort</h4>
                        <p class="__program_subtopic1">View our ongoing programs </p>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">

                    </div>
                </div>
            </div>
            <section class=" slider current_program">
                {% for row in current %} {% if row.categories== cat.id %}
                <div class="slide">
                    <div class="row inner_block">

                        <div class=" col-md-6 col-lg-6 col-sm-6 ">
                            <h4 class="__shecode_title ">{{row.title}} <span class="cohort ">({{row.cohort}})</span>
                            </h4>
                            <p class="__shecode_subtitle"> {{row.content.brief }} </p>


                            <a href="/programs/program/{{row.id}}" class="btn shecode_button">See More </a>
                        </div>
                        <img class="col-md-6 col-lg-6 col-sm-6 event_side_past2 float-right " style=" margin-right: 10px;" src="{{row.banner.secure_url}} " class="img-fluid " alt="{{row.title}} ">

                    </div>
                </div>

                {% endif %} {% endfor %}
            </section>

            <div></div>

        </section>
        {% endif %}
        <!-- past -->
        {% if past.length>0 %}
        <section class="container row_padding past {{cat.id}} ">

            <div id="program-content " class=" ">
                <div class="row event_topic  ">
                    <div class="col-sm-2 col-md-2 col-lg-2 ">

                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8 ">
                        <h4 class="program_topic1 ">Past Cohort</h4>
                        <p class="__program_subtopic1 ">View some of our past programs and the amazing moments. </p>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2 ">

                    </div>
                </div>
            </div>
            <section class="slider past_program ">
                {% for row in past %} {% if row.categories== cat.id %}
                <div class="slide">
                    <div class="row inner_block">
                        <img class=" col-md-6 col-lg-6 col-sm-6 event_side_past2" src="{{row.banner.secure_url}}" class="img-fluid" alt="{{row.title}}">

                        <div class="col-md-6 col-lg-6 col-sm-6 float-right">
                            <h4 class="__shecode_title">{{row.title}} <span class="cohort">({{row.cohort}})</span></h4>
                            <p class="__shecode_subtitle"> {{row.content.brief }} </p>

                            <a href="/programs/program/{{row.id}}" class="btn shecode_button">See More </a>
                        </div>
                    </div>
                </div>

                {% endif %} {% endfor %}
            </section>

            <div></div>

        </section>
        {% endif %}
        <!-- testimonials -->
        {% if stories.length>0 %}
        <div class="container  filter {{cat.id}}">
            <div id="program-content" class=" ">
                <div class="row event_topic row_padding">
                    <div class="col-sm-2 col-md-2 col-lg-2">

                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8 ">
                        <h4 class="program_topic1 ">Success Stories</h4>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">

                    </div>
                </div>
            </div>

            <div id="success" class="container">

                <div class="col-sm-12">
                    <div class="success_stories slider">
                        {% for row in stories %} {% if row.categories== cat.id %}
                        <div class="slide">
                            <div class="box">
                                <div style="display: flex; justify-content: space-between">
                                    <img class="success_img" src="{{row.image.secure_url}}" alt="">
                                    <div class="name_box">
                                        <p class="success_name">{{row.name}}</p>
                                        <span class="success_role">{{row.position}}</span>
                                    </div>
                                </div>

                                <div>
                                    <p class="success_text"> {{row.content.md}}</p>

                                </div>
                            </div>
                        </div>
                        {% endif %} {% endfor %}
                    </div>

                </div>



            </div>


        </div>
        {% endif %}
        <div class="container filter {{cat.id}}">
            <div id="program-content" class=" ">
                <div class="row event_topic row_padding">
                    <div class="col-sm-2 col-md-2 col-lg-2">

                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8 ">
                        <h4 class="program_topic1 ">Program Sponsors & Partners</h4>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">

                    </div>
                </div>
                <div id="sponsors" class="row mt-5"> {% for row in cat.sponsors%}
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
                        <div class="img-box"><img class="img-fluid img-responsive" src="{{row.secure_url}}" /></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>


    {% else %}
    <div>
        <h4 class="text-center">Programs coming soon!!!</h4>
    </div>
    {% endif %}

</section>


{% endblock %} {% block js %}
<script>
    var fvalue;
    $(document).ready(function() {
        $(" .filter-button:first").addClass(" active")
        fvalue = $(" .filter-button:first").attr('data-filter');
        $(" .filter").not('.' + fvalue).hide('3000');
        $(" .upcoming").not('.' + fvalue).hide('3000');
        $(" .current").not('.' + fvalue).hide('3000');
        $(" .past").not('.' + fvalue).hide('3000');

        $('.filter').filter('.' + fvalue).show('3000');
        $('.upcoming').filter('.' + fvalue).show('3000');
        $('.current').filter('.' + fvalue).show('3000');
        $('.past').filter('.' + fvalue).show('3000');



        $(" .filter-button").click(function() {
            fvalue = $(this).attr('data-filter');

            $(" .filter").not('.' + fvalue).hide('3000');
            $(" .upcoming").not('.' + fvalue).hide('3000');
            $(" .current").not('.' + fvalue).hide('3000');
            $(" .past").not('.' + fvalue).hide('3000');

            $('.filter').filter('.' + fvalue).show('3000');
            $('.upcoming').filter('.' + fvalue).show('3000');
            $('.current').filter('.' + fvalue).show('3000');
            $('.past').filter('.' + fvalue).show('3000');
            if ($(" .filter-button").removeClass(" active")) {
                $(this).removeClass(" active");
            }
            $(this).addClass(" active");
        });


    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>

{% endblock %}