<div id="testimonials" class="container">
    <div class="row event_topic">

        <div class="col-sm-2 col-md-2 col-lg-2">

        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <h4 class="__shecode_topic">What People Say</h4>
            </p>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">

        </div>
    </div>
    <div class="col-sm-12">
        <div class="testimonials slider">
            {% for testimonial in testimonials %}
            <div class="slide">
                <div class="box">
                    <img src="{{testimonial.image.secure_url}}" alt="">
                    <div>
                        <p class="testimonial_text">
                            {{testimonial.description}}
                        </p>
                        <p class="testimonial_name">{{testimonial.name}}</p>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>



    </div>


</div>