#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.blog-content img {
	display: block;
	max-width: 100%;
	height: auto;
}

@media screen and (min-width: 768px) {
	.nav-container {
		height: 110px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@media screen and (max-width: 425px) {
	.navbar-nav {
    flex-direction: column;
	}

	.nav-container {
		padding: 0.5rem 0;
	}

	.showcase-img {
		padding: 10% 15px;
	}
}

