/*=================================================================
	Basic Setup css
==================================================================*/


/* @font-face {
    font-family: 'Raleway-Black';
    src: url('../fonts/Raleway/Raleway-Black.ttf');
} */

html {
    font-size: 100%;
    min-height: 100%;
}

html,
body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #222222;
    font-weight: normal;
    overflow-x: hidden;
    line-height: 20px;
}

body {
    display: flex;
    flex-direction: column;
}

#body {
    flex: 1 0 auto;
}

a,
a:active,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
    color: inherit;
}

button:focus {
    outline: none;
}

article,
figure,
footer,
header,
nav,
section {
    display: block
}

select:focus {
    outline-offset: 0;
}


/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

a:focus,
a:hover {
    text-decoration: none !important;
}

.navbar {
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}

.navbar-toggle {
    color: #ffffff;
    background: var(--primary-main-pink);
    margin-right: 0;
    margin-top: 18px;
}

.navbar-toggle .icon-bar {
    background: #fff !important;
}

.nav>li>a {
    padding: 0 0 3px;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: transparent;
}

.header-body {
    height: calc(100vh - 80px);
}

.box-s {
    /*box-shadow: 0px 5px 5px #888888;*/
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 50px;
    /*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);*/
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: #a7a7a7;
}


/*hover on dropdown and drop*/

ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
}


/*hover on dropdown and drop end*/


/*=================================================================
Custom Css
==================================================================*/

.__shecodenavbar {
    background-color: transparent;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0 50px;
    border-bottom: 1px solid #fbfbfb;
}

.__shecodelogo {
    width: 48px;
}

.__shecodelink {
    padding: 10px 20px;
}

.__shecodelink a {
    font-size: 16px;
    font-weight: bold;
    transition: all 0.4s ease-in;
    text-align: center;
    letter-spacing: 0.36px;
    color: var(--primary-dark-pink);
}

.__shecodelink a:hover,
li.__shecodelink.active a {
    color: var(--primary-main-pink);
    transform: scale(1.04);
    border-bottom: 3px solid var(--primary-main-pink);
    transition: transform 0.4s ease-in-out;
}

.__shecodecontent {
    margin-top: 50px;
}


/* page header/banner */

.__shecodeheader {
    margin: 20px 0;
}

.__shecodeheader_text {
    margin-top: 20%;
}

.__shecodeheader_title h1 {
    text-align: left;
    font-family: Montserrat;
    font-size: 60px;
    font-weight: bold;
    color: var(--primary-dark-pink);
}

.__shecodeheader_subtitle h4 {
    text-align: left;
    font-size: 30px;
    letter-spacing: 0.76px;
    margin-top: 30px;
}

.__shecodeheader_image {
    height: 450px;
    background: transparent url(../images/teambanner.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


/*footer*/

.footer {
    flex-shrink: 0;
}

.__footerbg {
    background: var(--secondary-main-black) 0% 0% no-repeat padding-box;
    margin-top: 5%;
    padding: 5% 0;
    text-align: center;
}

.__footerp {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff !important;
    transition: all 0.4s ease-in;
    text-transform: capitalize;
}

.__footera {
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #ffffff !important;
    transition: all 0.4s ease-in;
    text-transform: capitalize;
}

.__footera img {
    height: 18px;
    margin-right: 5px;
}

.__footera:hover {
    color: #ff85d2 !important;
}

.__footerdownbg {
    background: var(--secondary-main-black);
    color: #ffffff;
    font-size: 14px;
    padding: 13px;
    text-align: center;
}


/*footer end*/


/* team */

.highlight {
    color: var(--primary-main-pink);
}

.__shecodeteammember_box {
    border-radius: 24px 24px 0px 0px;
    width: 250px;
    height: 258px;
    margin-bottom: 30px;
    position: relative;
    margin: 30px auto;
    cursor: pointer;
}

.__shecodeteammember_img {
    width: 100%;
}

.__shecodeteammember_text {
    background: var(--primary-main-pink) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.__shecodeteammember_text .name {
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.__shecodeteammember_text .role {
    text-align: center;
    font-size: 12px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.team_modal .modal-dialog-centered {
    padding-top: 20%;
    vertical-align: middle;
}

.team_modal .modal-content {
    border-radius: 24px 24px 0px 0px;
    height: 300px;
}

.team_modal .modal-body {
    padding: 0;
}

.team_modal .__shecodeteammember_box {
    border-radius: 24px 24px 0px 0px;
    width: 100%;
    height: 298px;
    margin-bottom: 0;
    position: relative;
    margin: auto;
    cursor: none;
}

.team_modal .close {
    opacity: 1;
}

.team_modal .__shecodeteammember_details {
    padding: 20px 20px 0 0;
}

.team_modal .__shecodeteammember_details p {
    margin-top: 20px;
    font-size: 13px;
}