/*=================================================================
	Basic Setup css
==================================================================*/

html {
    font-size: 100%;
    min-height: 100%;
}

html,
body {
    font-family: 'Raleway', sans-serif;
    /*font-family: '', Poppins-Regular;*/
    font-size: 14px;
    color: #222222;
    font-weight: normal;
    overflow-x: hidden;
    line-height: 20px;
}

@font-face {
    font-family: 'Raleway-Black';
    src: url('../../images/Raleway-Black.ttf');
}

a,
a:active,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    /*background:transparent;*/
    outline: none;
    color: inherit;
}


/*a:hover{
	color: #663fb5 !important;
}*/

button:focus {
    outline: none;
}

li {
    /*list-style:none;*/
}

article,
figure,
footer,
header,
nav,
section {
    display: block
}

select:focus {
    outline-offset: 0;
}


/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

a:focus,
a:hover {
    text-decoration: none !important;
}

.navbar {
    /*position: relative;*/
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}

.navbar-toggle {
    /*border: 2px solid #FFFFFF;*/
    color: #ffffff;
    background: #ff85d2;
}

.navbar-toggle .icon-bar {
    background: #fff !important;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: transparent;
}

.header-body {
    height: calc(100vh - 80px);
}

#form .input-group input[class="form-control"] {
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 17px;
    color: #222;
    padding: 7px 12px;
    border-right-width: 0;
}

.box-s {
    /*box-shadow: 0px 5px 5px #888888;*/
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#form .input-group select[class="form-control"] {
    border-radius: 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 17px;
    width: 100px;
    color: #222;
    border-left-width: 0;
}

.form-control:focus {
    border: 1px solid #ccc !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(254, 86, 33, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px rgba(0, 0, 0, .6) !important;
}

.form-group1 .form-control:focus {
    border: none !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid brown !important;
}

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 50px;
    /*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);*/
}

::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: #a7a7a7;
}


/*hover on dropdown and drop*/

ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
}


/*hover on dropdown and drop end*/


/*=================================================================
Custom Css
==================================================================*/

.__shecodeformcard {
    position: relative;
}

.__shecodenavbar {
    background-color: transparent;
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: 1px solid #fbfbfb;
}

.__shecodelogo {
    width: 48px;
}

.__shecodenavcol {
    margin-top: 25px;
}

.__shecodelink {
    padding: 10px 13px;
}

.__shecodelink a {
    font-size: 16px;
    font-weight: bold;
    transition: all 0.4s ease-in;
    text-align: center;
    letter-spacing: 0.36px;
    color: #6D033F!important;
}

.__shecodelink a:hover,
li.__shecodelink.active a {
    color: #B70569 !important;
    transform: scale(1.04);
    border-bottom: 2px solid #B70569;
    transition: transform 0.4s ease-in-out;
}

.__shecodeafri {
    font-family: Raleway-Black;
    font-size: 55px;
    color: #ff1493;
    line-height: 1.5;
    margin-top: 22%;
}

.__shecodeafri1 {
    font-family: Raleway-Black;
    font-size: 25px;
    color: #ff1493;
}


/*footer*/

.__footerbg {
    background: #1A1A1A 0% 0% no-repeat padding-box;
    margin-top: 5%;
    padding: 5% 0;
    text-align: center;
}

.__footerp {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff !important;
    transition: all 0.4s ease-in;
    /* margin-top: 15%; */
    /* color: #FFFFFF; */
    text-transform: capitalize;
}

.__footera {
    margin-top: 10px;
    font-size: 12px;
    /*font-weight: 600;*/
    letter-spacing: 1px;
    color: #ffffff !important;
    transition: all 0.4s ease-in;
    text-transform: capitalize;
}

.__footera img {
    height: 18px;
    margin-right: 5px;
}

.__footera:hover {
    color: #ff85d2 !important;
}

.__footerdownbg {
    background: #1a1a1a;
    color: #ffffff;
    font-size: 14px;
    padding: 13px;
    text-align: center;
}


/*footer end*/