        #programs-tab .nav-tabs {
            overflow-y: hidden;
            flex-flow: nowrap;
            max-width: 1000px;
            overflow-x: scroll;
            display: -webkit-box!important;
        }
        
        #programs-tab .nav>li>a {
            text-align: center;
            font: normal normal 600 12px/24px Montserrat;
            letter-spacing: 0px;
            color: #0D2543;
            cursor: pointer;
            margin-left: 42px;
            padding: 0;
        }
        
        #programs-tab .nav>li>a.active,
        #programs-tab .nav>li>a:hover,
        #programs-tab .nav>li>a:focus {
            letter-spacing: 0px;
            color: var(--primary-dark-pink);
            border: 0;
        }
        
        #programs-tab .nav-tabs>li a:hover:after,
        #programs-tab .nav-tabs>li a:focus:after,
        #programs-tab .nav-tabs>li a.active:after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 100%;
            padding-top: 5px;
            border-bottom: 2px solid var(--primary-dark-pink);
        }
        
        .program_topic1 {
            font-size: 30px;
            font-weight: bold;
            padding-top: 20px;
            text-align: center;
            color: var(--primary-dark-pink);
        }
        
        .__program_subtopic1 {
            text-align: center;
            font-size: 14px;
            line-height: 20px;
            color: #1A1A1A;
        }
        
        .gallery-row {
            display: flex;
            flex-wrap: wrap;
            padding: 0 4px;
        }
        
        .gallery-row img {
            margin-top: 20px;
            vertical-align: middle;
            width: 100%;
            max-height: 250px;
            border-radius: 5px;
            transition: 0.3s linear;
        }
        
        #success {
            padding-top: 100px;
        }
        
        #success .slide .box {
            background: var(--primary-white) 0% 0% no-repeat padding-box;
            box-shadow: inset 0px 3px 2px #00000029, 0px 3px 6px #00000029;
            border-radius: 8px;
            /* height: 300px; */
            padding: 20px;
            margin-bottom: 50px;
        }
        
        #success .slide {
            margin-right: 20px;
        }
        
        #success .slide .box .success_img {
            border-radius: 50%;
            height: 50px;
            width: 50px;
        }
        
        #success .slide .box .name_box {
            margin: auto;
        }
        
        #success .slide .box .success_name {
            color: var(--primary-black);
            text-align: left;
            font: normal normal 600 13px/15px Montserrat;
            letter-spacing: 0px;
            margin-bottom: 0;
        }
        
        #success .slide .box .success_role {
            color: var(--primary-black);
            text-align: left;
            font: normal normal 400 11px/13px Montserrat;
            letter-spacing: 0px;
            color: #000000;
        }
        
        #success .slide .box .success_text {
            color: var(--primary-black);
            text-align: left;
            font: normal normal 400 11px/13px Montserrat;
            letter-spacing: 0px;
            color: #000000;
            margin-top: 20px;
            line-height: 20px;
        }
        
        .inner_block {
            padding: 50px 0;
        }
        
        @media screen and (max-width: 480px) {
            .event_side {
                margin-top: 50px;
                height: 500px!important;
            }
            .__program_shecode_block {
                margin: 0 1rem;
            }
            .inner_block {
                padding: 0px!important;
            }
        }